

<h4>Log In</h4>

<% form_tag session_path do -%>
<p><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></p>

<p><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></p>
I'm <%= radio_button_tag 'login_user', 'customer', true %> Customer  <%= radio_button_tag 'login_user', 'merchant' %>   Merchant
<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<p><%=image_submit_tag ("login_button.png" )%></p>
<% end -%>
