<table align=left  style="font-size: 14px; border-collapse: collapse; width:1000px; text-align: center; margin-left: -10px;" CELLPADDING="4" CELLSPACING="0">
    <tr>
      <th style="border-collapse:collapse;" width="550px">Title</th>
      <th style="border-collapse:collapse;" width="100px">Status</th>
      <th style="border-collapse:collapse;" width="100px">Price</th>
      <th style="border-collapse:collapse;" width="100px">Discount</th>
      <th style="border-collapse:collapse;" width="100px">No. of Customers</th>
      <th style="border-collapse:collapse;" width="150px">Start Date</th
      <th style="border-collapse:collapse;" width="150px">Close Date</th>
      <th style="border-collapse:collapse;" width="150px">Actions</th>
    </tr>
    <tr>
        <td style="color:#000000;height: 0px;max-height: 50px;" colspan="8"><hr/></td>
      </tr>
    <% @deals.each do |deal| %>
      <tr>
        <td style="color:#000000;height: 0px;max-height: 50px;"><%= deal.name%></td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= deal.status%></td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= deal.actual_value%></td>
        <td style="background-color: #C0C0C0;color:#000000;">%</td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= deal.no_of_customers %></td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= Time.at(deal.start_time.to_i).strftime("%d-%m-%Y")%></td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= Time.at(deal.end_time.to_i).strftime("%d-%m-%Y")%></td>
        <td style="color:#000000;">
          <a href="/admins/open_the_deal/<%=deal.id%>">Open</a>&nbsp;
          <a href="/customers/tip_the_deal/<%=deal.id%>">Tip</a>
        </td>
      </tr>
      <tr>
        <td style="color:#000000;height: 0px;max-height: 50px;" colspan="8"><hr/></td>
      </tr>
    <%end%>
  </table>