          <table width="100%" border="0" cellpadding="0" cellspacing="1" class="deals_content" >
              <tr>
                <td width="29%" height="28" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Title</td>
                <td width="5%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Status</td>
                <td width="8%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Price</td>
                <td width="8%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Discount</td>
                <td width="10%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Deals Bought</td>
                <td width="8%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Open On</td>
                <td width="8%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Closes On</td>
                <td width="2%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Preference</td>
                <td width="2%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Confirm</td>
                <td width="20%" align="center" background="/images/table_header_bg.jpg" bgcolor="#FFFFFF" class="table_header_text">Actions</td>
              </tr>
              <%
              for dd in @deal_discounts
                discount = dd[1]
                deal = @deals[dd[0]]
              %>
              <tr>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= deal.name%></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= deal.status%></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= deal.actual_value%></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= discount %> %</td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= deal.no_of_customers %></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= Time.at(deal.start_time.to_i).strftime("%d-%m-%Y")%></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text"><%= Time.at(deal.end_time.to_i).strftime("%d-%m-%Y")%></td>
                <td align="center" bgcolor="#FFFFFF" class="content_text">
                  <% if deal.preferred.to_s == "1" && deal.admin_preferred.to_s == "1"%>
                  <image src="/images/star_green.gif"/>
                  <% elsif deal.preferred.to_s == "1" && (deal.admin_preferred.to_s == "0" || deal.admin_preferred.blank?)%>
                  <a href="/admins/deal_preferred/<%=deal.id%>" ><image src="/images/star_red.gif" style="border-style: none;"/></a>
                  <% end %>
                </td>
                <td align="center" bgcolor="#FFFFFF" class="content_text">
                  <% if deal.confirm.to_s == "1" %>
                  <image src="/images/check_green.jpg"/>
                  <% else %>
                  <a href="/admins/confirm_the_deal/<%=deal.id%>"><image src="/images/check_red.jpg" style="border-style: none;"/></a>
                  <% end %>
                </td>
                <td align="center" bgcolor="#FFFFFF" class="content_text">
                  <a href='#' onclick="showElt('popup_create_deal_<%=deal.id%>');">Commission</a>
                  &nbsp;
                  <a href="#" onclick="showDealPaypal('popup_view_deal',<%= deal.id %>);">Paypal</a>
                  <% if deal.status == "new" %>
                  <a href='/admins/edit_deal/<%=deal.id%>'>Edit</a>
                  <% end %>
                  <div id='<%=deal.id%>'>
                    <div id="popup_create_deal_<%=deal.id%>" style=' width:100%;height:500%;position:absolute;top: 0;left: 0;z-index:15;background:transparent url(/images/transparent.png) repeat top left;display:none;padding:170px 0 0 60px;'>
                      <%=render :partial=>'/deals/deal_dis_details',:locals => { :deal_id => deal.id }%>
                    </div>
                  </div>
                </td>
              </tr>
              <%end%>
              <tr><td colspan="10">
                  <div id="popup_view_deal">
                    <br/><%= render :partial => "deal_paypal_info" %>
                  </div>
                </td></tr>
            </table>

