<script type="text/javascript" language="javascript">
  function Validate() {
    if (isNaN(parseFloat(inputVal))) {
      alert('Please enter valid pincode')
      return false;
    }
    return true
  }



</script>

<tr>
  <td height="34" background="/images/header_bar_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="17%" align="left"><img src="/images/deals_categories_header_text.jpg" width="220" height="31" /></td>
        <td width="83%">&nbsp;</td>
      </tr>
    </table></td>
</tr>
<tr>
  <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="4%">&nbsp;</td>
        <td width="92%">&nbsp;</td>
        <td width="4%">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellspacing="3" cellpadding="0">
            <tr>
            <p id="add_link"> <td width="153" height="39" align="center" background="/images/btn_bg_new.jpg" style="background-repeat:no-repeat;font-size: 13px;"> <a href="/admin_analytics/accounting_reports_csv" style="color:white;" ><%= link_to_function("Add Deal Category",
                  "Element.remove('add_link'); Element.show('add_subject')")%></a></td></p>
            <td width="354" colspan="2"><div id="add_subject" style="display:none;">
                <% form_remote_tag(:url => {:action => 'create_deal_category'},
                  :update => "subject_list", :position => :top,
                  :html => {:id => 'subject_form'}) do %>
                  Deal Sub Category : <%= text_field "subject", "name", :size=>'20' %>
                  <%= image_submit_tag ("create1.jpg") %>
                  <%=image_submit_tag ("cancel_btn2b.jpg"), :onclick => "return Validate();"%>
                <% end %>
              </div> </td>

            <td width="152"  >

            </td>

      </tr>
    </table></td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td bgcolor="#798c9b" width="104">
    <div id="accounting">
      <ul id="subject_list">
        <% for c in @deal_categories %>
          <table><tr>
            <li><%= c.name -%>  </li>
            </tr>
          </table>
        <% end %>
      </ul>
    </div>
  </td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table></td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>


