<%if params[:action] != 'deal_details'%>
<div id="todayHOT">
<div class="todHotdeal"><%=@page%></div>
<% if !@my_keupons_stats.blank? %>
    <div class="keyValue">
      <div class="red"><strong>Available </strong><br />
        <%= @my_keupons_stats["available"] %></div>
      <div class="white"><strong>Used </strong><br />
        <%= @my_keupons_stats["used"] %></div>
      <div class="red"><strong>Expired</strong><br />
        <%= @my_keupons_stats["expired"] %></div>
      <div class="white"><strong>All</strong><br />
        <%= @my_keupons_stats["all"] %></div>
      <div class="red"><strong>Keupoints</strong><br />
        <%= @my_keupons_stats["keupoints"] %></div>
    </div>
<% end %>
</div>
<%end%>
