<% if logged_in? -%>
  <table  >
    <tr>
   
      <td align="right" class="content_text3">Hi, Welcome <%=current_customer.customer_profile.first_name%><%=current_customer.customer_profile.last_name%><%#= link_to_current_user :content_method => :login %> | <%= link_to "Signout", logout_path  %> </td>
    </tr>

  </table>
<% else -%>
  <table  >
    <tr>
      <td align="right"> <%= link_to "Login ",  login_path %> |  <%= link_to "Sign up as customer ", '/signup' %> | <%= link_to "Sign up as merchant ", '/merchant_signup'   %> </td>
    </tr>

  </table>


<% end -%>


