<div id="popup_center">
    <div id="popup" class="signup_pos">
        <a href="javascript:void(0);" onclick="Effect.Fade('RB_window', {duration: 0.4});Effect.Fade('RB_overlay', {duration: 0.4});">
			<img src="/images/close_btn1.png" border="0" style="margin-top:15px; position:absolute; margin-left:596px;"/>
		</a>
        <div class="sign_up_welcome">
            WELCOME TO
        </div>
        <div class="sign_up_keu">
            <img src="/images/keupons_big.jpg" />
        </div>
        <div class="sign_up_banner">
            <img src="/images/brown_ban.png" />
        </div>
        <div class="sign_up_rightimg">
            <img src="/images/signup_rightimg.jpg" />
        </div>
        <div class="sign_up_left_con">
            <h2>SIGN UP</h2>
            <span>Please fill in these particulars</span>
            <div class="signup_mainbox">
                <div style="height:30px; margin-top:10px;">
                    <%if @friend.nil?%>
			        	<span class="email">EMAIL</span>
						<%= f.text_field :email , :size=>"25%", :class => "login_tb1a" %>
			        <%else%>
				        <span class="email">EMAIL</span>
						<%= f.text_field :email , :size=>"25%",:disabled=>'disabled', :class => "login_tb1a" %>
				        <input type='hidden' name='customer[email]' value='<%=@customer.email%>'/>
				        <input type='hidden' name='friend_id' value='<%=@friend.id if !@friend.nil?%>'/>
			        <%end%>
                </div>
                <div style="height:30px; margin-top:10px;">
                    <span class="email">PASSWORD</span>
                    <%= f.password_field :password, :id=>"passwords", :size=>"25%", :class => "login_tb1a" %>
                </div>
                <div style="height:30px; margin-top:10px;">
                    <span class="email" style="padding:0;">CONFIRM
                        <br/>
                        PASSWORD
                    </span>
                    <%= f.password_field :password_confirmation, :class=>'name_input',:size=>"25%", :class => "login_tb1a" %>
                </div>
                <div class="login_forget">
                    <a href="javascript:void(0);" id="customerBasicSubmit" onclick="changeScreenStepOne();"><img src="/images/next.jpg" border="0" /></a>
                </div>
            </div>
            <div class="signup_footer1">
                <div style="float:left;">
                    <img src="/images/red1.png" />
                </div>
                <div class="signup_line1">
                    <img src="/images/line1.png" />
                </div>
                <div style="float:left;">
                    <img src="/images/grey2.png" />
                </div>
                <div class="signup_line1">
                    <img src="/images/line1.png" />
                </div>
                <div style="float:left;">
                    <img src="/images/grey3.png" />
                </div>
            </div>
        </div>
    </div>
</div>