<form action="/customers/update_or_confirm_want_a_deal" name="form_2730422465" id="2730422465" accept-charset="utf-8" method="post" onsubmit="new Ajax.Request('/customers/update_or_confirm_want_a_deal', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;" style="padding: 0pt; margin: 0pt;"><div style="margin: 0pt; padding: 0pt; display: inline;"><input name="authenticity_token" value="WHG5zDjP3BuRLy+4EHm0iZ5LTAvxLu24nOnxHqywhto=" type="hidden"/></div>
    <input type="hidden" name="formID" value="2730422465" />
    <input type="hidden" name="demand_deal" id="demand_deal" value="<%= @demand_deal.id %>" />
    <input type="hidden" name="button_status" id="button_status" value="" />

    <table width="100%" border="0" cellspacing="0" cellpadding="0">            
            <tr>
                <td width="38%" align="left" class="deals_on_demand_text1">Describe the Keupon that you are looking for:</td>
                <td colspan="2" align="left"><textarea name="description" id="description" cols="35" rows="5"><%= @demand_deal.description %></textarea></td>
              </tr>
              <tr>
                <td align="left" class="deals_on_demand_text1">Price for your Keupon : </td>
                <td height="30" align="left"><input type="text" name="price" id="price" value="<%= @demand_deal.expected_value %>"/>S$</td>
                <td width="33%" rowspan="5" align="left"><img src="images/deals_on_demand_img.png" width="152" height="184" /></td>
              </tr>
              <tr>
                <td align="left" class="deals_on_demand_text1">How many Keupons will you Buy?</td>
                <td height="30" align="left"><input type="text" name="quantity" id="quantity" value="<%= @demand_deal.number %>"/></td>
                </tr>
              <tr>
                <td align="left" class="deals_on_demand_text1">By when do you require this Keupon?</td>
                <td height="30" align="left"><input type="text" name="deadline" id="deadline" value="<%= Time.at(@demand_deal.deadline).strftime('%d/%m/%Y') %>"/><img alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {year_range:100} );" src="/images/calendar_date_select/calendar.gif" style="border: 0px none; cursor: pointer;"/></td>
                </tr>
              <tr>
                <td align="left" class="deals_on_demand_text1">Categorize your Keupon: </td>
                <td height="30" align="left">
                    <select id="category" name="category">
                        <option value="0">Select a Category</option>
                        <% for category in @categories %>
                          <% if @demand_deal.deal_category_id.to_s == category.id.to_s %>
                            <option value="<%= category.id %>" selected><%= category.name %></option>
                          <% else %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                          <% end %>
                        <% end %>
                    </select>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td width="29%" align="left">
                <input type="button" name="Edit Deal" value="Edit Deal" onclick="return form_validator();return false;" <%= (@demand_deal.status != "new")? "disabled" : ""%>/>
                &nbsp;&nbsp;
                <input type="button" name="Confirm Deal" value="Confirm Deal" onclick="setButtonStatus('confirm');$('2730422465').onsubmit();return false;" <%= (@demand_deal.status != "new")? "disabled" : ""%>/>
                </td>
                </tr>
            </table>
</form>