<div class="myAccDropBox">
<% form_tag :controller => 'customers', :action => 'update_customer_password', :id => @customer.id do |f| %>
	<div class="myacc_left" style="margin-top:40px;">
	    PASSWORD
	</div>
	<div class="myacc_right" style="width:450px;">
		<table border="0" cellpadding="0" cellspacing="3" width="100%" style="padding:10px 0 0 0;">
		    <tr>
		        <td width="25%" style="color:#000000;">Old Password:</td>
		        <td width="75%"><%= password_field_tag 'old_password', @old_password, :size => 20, :class => 'text' %></td>
		    </tr>
		    <tr>
		        <td width="25%" style="color:#000000;">New Password:</td>
		        <td width="75%"><%= password_field_tag 'password', {}, :size => 20, :class => 'text' %></td>
		    </tr>
		    <tr>
		        <td width="25%" style="color:#000000;">Confirm Password :</td>
		        <td width="75%"><%= password_field_tag 'password_confirmation', {}, :size => 20, :class => 'text' %></td>
		    </tr>
		    <tr>
		    	<td width="25%">&nbsp;</td>
		        <td width="75%">
		        	<%= image_submit_tag ('/images/update_btn.png') %>
		        	<%= link_to image_tag('/images/cancel_search.png'), :controller => "customers", :action => "cancel_edit_customer_password", :id => @customer.id %>
		        </td>
		    </tr>
		</table>
	</div>
<%end %>
</div>