<div class="myAccDropBox">
<% form_for :customer, @customer, :url => {:controller => 'customers', :action => 'update_customer_name', :id => @customer.id} do |f| -%>
<%= f.error_messages %>
  	<div class="myacc_left" style="margin-top:40px;">
	    NAME
	</div>
	<div class="myacc_right1" style="width:360px;">
	    <table border="0" cellpadding="0" cellspacing="3" width="100%" style="padding:10px 0 0 0;">
          	<tr>
	            <td width="20%" style="color:#000000;">First Name:</td>
	            <td width="70%"><%= f.text_field :first_name, :value=> @customer_profile.first_name %></td>
            </tr>
            <tr>
            	<td width="20%" style="color:#000000;">Last Name:</td>
            	<td width="70%"><%= f.text_field :last_name, :value=> @customer_profile.last_name %></td>
            </tr>
            <tr>
            	<td width="30%">&nbsp;</td>
            	<td>
	              	<%= image_submit_tag ('/images/update_btn.png') %>
					<%= link_to image_tag('/images/cancel_search.png'), :controller => "customers", :action => "cancel_edit_customer_name", :id => @customer.id %>
	        	</td>
            </tr>
		</table>
	</div>
<% end %>
</div>