<table width="100%" border="0" cellspacing="2" cellpadding="0" style="overflow:auto;">
<% accepted_deal = nil
      for demand_deal in @demand_deals_summary
        deal_status = demand_deal.status
        if demand_deal.status == "accepted"
          accepted_deals = CustomerDemandDeal.find(demand_deal.id).customer_accepted_demand_deal_biddings.length
        end
%>
                  <tr>
                    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="3%">&nbsp;</td>
                        <td width="94%">&nbsp;</td>
                        <td width="3%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left" class="deals_on_demand_text2"><%= demand_deal.description %></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td height="26" align="center" style="cursor: pointer; color: #000000;" class="open_deal_text1" onClick="call_offers('<%= demand_deal.id %>' , '<%= demand_deal.status %>');">
                        <%= demand_deal.status.camelize %>
                          <% if demand_deal.status == "offered" %>
                            : <%= demand_deal.offerings %>
                          <% elsif demand_deal.status == "accepted" %>
                            : <%= accepted_deals %>
                          <% end %>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
<% end %>
</table>