<div style="height: 320px; overflow:auto;">
<table width="100%" border="0" cellspacing="2" cellpadding="0">
<% accepted_deal = nil
      for demand_deal in @demand_deals_summary
        deal_status = demand_deal.status
        if demand_deal.status == "accepted"
          accepted_deals = CustomerDemandDeal.find(demand_deal.id).customer_accepted_demand_deal_biddings.length
        end
%>
                  <tr>
                    <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="3%">&nbsp;</td>
                        <td colspan="2">&nbsp;</td>
                        <td width="3%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td align="left" class="deals_on_demand_text2" colspan="2"><%= demand_deal.description %></td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td width="60%" align="right">&nbsp;</td>
                        <td width="26%" height="23" align="center" background="images/deals_on_demand_red_bar1.png" style="background-repeat:no-repeat;"><a href="#" onClick="call_offers('<%= demand_deal.id %>' , '<%= demand_deal.status %>');" class="deals_on_demand_text1_link"><%= demand_deal.status.camelize %>                        
                          <% if demand_deal.status == "offered" %>
                            : <%= demand_deal.offerings %>
                          <% elsif demand_deal.status == "accepted" %>
                            : <%= accepted_deals %>
                          <% end %>
                          </a>
                        </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
<% end %>
</table>
</div>