<table border="0" cellpadding="0" cellspacing="0">
 <tr>
   <td colspan="2"><div id="demandDealSubTitle"><div class="yourDemandDealSubTitle">Deals that You Demanded</div></div></td>
 </tr>
 <tr>
  <td><div id="wn">
    <div id="lyr1">
      <% for demand_deal in @demand_deals_summary %>
      <div id="testid" class="dateB1_center" style="padding-left: 25px; padding-top: 10px; cursor: pointer;" onMouseover="showtooltip('<%= demand_deal.description %>')" onMouseout="hidetooltip()">
            <div class="dateB1_C1" style="position:relative;">
              <img src="/images/dateIphone.jpg" border="0px" />
              <div style="position: absolute; top: 80px;">
                <img src="/images/iwantdeal_<%= demand_deal.status %>.png" border="0px" />
              </div>
              <% if demand_deal.status == "offered" %>
              <div style="position: absolute; top: 130px;">
                <span style=" padding-left: 5px; font-weight: bold; font-size: 20px; color: black;"><%= demand_deal.offerings %></span>
              </div>
              <% end %>
            </div>        
            <div class="iwantdeal_vertical_tabs">
            S$<%= demand_deal.expected_value %>
            <br />
            <br />
            <br />
            <p style="padding-top:10px;"><%= demand_deal.number %></p>
            <br />
            <br />
            <p style="padding-top:10px;"><%= Time.at(demand_deal.deadline).strftime("%d-%m-%y") %></p>
            </div>        
          </div>      
      <% end %>       
    </div>
</div></td>

  <td><div id="scrollbar"><!-- border attribute added to reduce support questions on the subject.
    If you like valid strict markup, remove and place a img {border:none;} spec in style sheet -->
    <div id="up"><a class="mouseover_up" href=""><img src="/images/btn-up.gif" width="11" height="11" alt="" border="0" /></a></div>
    <div id="track">
        <div id="dragBar"></div>
    </div>
    <div id="down"><a class="mouseover_down" href=""><img src="/images/btn-dn.gif" width="11" height="11" alt="" border="0" /></a></div>
</div></td>
 </tr>
</table>