<script type="text/javascript">
  function avatar_down(){
    jquery("#avatar").slideDown()}
  function avatar_cancel(){
    jquery("#avatar").slideUp()}
  function email_down(){
    jquery("#email").slideDown()}
  function email_cancel(){
    jquery("#email").slideUp()}
   function name_down(){
    jquery("#name").slideDown()}
  function name_cancel(){
    jquery("#name").slideUp()}
</script>


<br/><br/><br/><br/><br/><br/><br/>
<div style="width:618px;text-align:left;">

  <table  style="font-size:14px;min-height:150px;" CELLPADDING="3" CELLSPACING="6">
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Avatar :</td>
      <td width="10%">
        <%if current_customer.blank? || current_customer.customer_photo.nil?%>
          <img src="/images/profile_pic.jpg" border="0px" />
        <%else%>
          <%=image_tag (@customer.customer_photo.url(:small))%>
        <%end%>
        <%=link_to 'change','#',:onclick=>'avatar_down()',:style=>'color:#19A2FF;'%><%#= f.select 'income', CustomerProfile::INCOME%></td>
    </tr>

    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;"></td>
      <td width="10%">
        <div id ="avatar"style="display:none;">
          <% form_for @customer, :url => {:controller => 'customers', :action => 'settings', :id=> @customer.id} , :html => { :multipart => true } do |f| -%>
          Photo:
          <%= f.file_field :customer_photo, :size=>"6%" %> <br/><br/>
          <%=image_submit_tag ("upload_btn.jpg")%><%=link_to image_tag("cancel.jpg", :border=>0),"#", :onclick=>'avatar_cancel()',:style=>"padding-left:5px;"%>
          <% end -%>
        </div>
      </td>   
    </tr>

    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Name :</td>
      <td width="10%"><%=@customer_profile.first_name%>&nbsp;<%=@customer_profile.last_name%>
        <%=link_to 'change','#',:onclick=>'name_down()',:style=>'color:#19A2FF;'%><%#= f.select 'income', CustomerProfile::INCOME%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;"></td>
      <td width="10%"><div id ="name"style="display:none;">
            <% form_for @customer_profile, :url => {:controller => 'customers', :action => 'settings', :id=> @customer.id} , :html => { :multipart => true } do |f| -%>
            First Name:
            <%= f.text_field :first_name, :size=>"6%" %> <br/>
            last Name:
            <%= f.text_field :last_name, :size=>"6%" %><br/>
            <%=image_submit_tag ("upload_btn.jpg")%><%=link_to image_tag("cancel.jpg", :border=>0),"#", :onclick=>'name_cancel()',:style=>"padding-left:5px;"%>
          <% end -%>
        </div>
      </td>
    </tr>
    
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Email :</td>
      <td width="10%"><%=@customer.email%><%#=f.text_field 'email', :size=> '15'%> &nbsp;&nbsp;&nbsp;<%=link_to 'change','#',:onclick=>'email_down()',:style=>'color:#19A2FF;'%><%#= f.select 'income', CustomerProfile::INCOME%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;"></td>
      <td width="10%">
         <div id ="email" style="display:none;">
           <% form_for @customer, :url => {:controller => 'customers', :action => 'settings', :id=> @customer.id} , :html => { :multipart => true } do |f| -%>
            Email:
            <%= f.text_field :email, :size=>"16%" %> <br/><br/>
            <%=image_submit_tag ("upload_btn.jpg")%>&nbsp;&nbsp;<%=link_to image_tag("cancel.jpg", :border=>0),"#", :onclick=>'email_cancel()',:style=>"padding-left:5px;"%>
          <% end -%>
        </div>
      </td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Password :</td>
      <td width="10%">**************<%#= f.select 'income', CustomerProfile::INCOME%> &nbsp;&nbsp;&nbsp;change</td>
    </tr>


    <tr><td></td><td></td></tr> 
  </table>


</div> 