<div class="myacc_nav">
    <ul>
        <li>
        	<%= link_to "MY PROFILE", {:controller => "customers", :action => "my_profile"} %>
        </li>
        <li>
        	<%= link_to_remote "MY ACCOUNT", :url => {:controller => "customers", :action => "my_account"}, :update => "actionChanger", :html => {:class => "visited"} %>
        </li>
        <li>
        	<%= link_to_remote "MY INVITEES", :url => {:controller => "customers", :action => "my_invitees"}, :update => "actionChanger" %>
        </li>
    </ul>
</div>
<div class="myacc_boxmain">
    <div class="myacc_mainb1" id="customer_pic" style="height:80px;">
       	<%= render :partial => "customer_avatar"%>
	</div>
    <div class="myacc_mainb1" id="customer_name">
        <%= render :partial => "customer_name"%>
    </div>
    <div class="myacc_mainb1" id="customer_email">
        <%= render :partial => "customer_email" %>
	</div>
    <div class="myacc_mainb1" id="customer_password">
		<%= render :partial => "customer_password" %>
    </div>
</div>