<style type="text/css">
  .pagination{
    text-align: center;
    margin-top: 5px;
}
</style>


<div class="slider">
  	<%
                op_first = op_middle = op_last = nil
                op_first_discount = op_middle_discount = op_last_discount = nil
		op_first_discount, op_first = (@open_deal_discounts[2].blank?)? nil : [@open_deal_discounts[2][1], @open_deals[@open_deal_discounts[2][0]]]
		op_middle_discount, op_middle = (@open_deal_discounts[1].blank?)? nil : [@open_deal_discounts[1][1], @open_deals[@open_deal_discounts[1][0]]]
		op_last_discount, op_last = (@open_deal_discounts[0].blank?)? nil : [@open_deal_discounts[0][1], @open_deals[@open_deal_discounts[0][0]]]
	%>
    <% if !op_first.blank?
        op1 = Deal.find(op_first.id)
    %>
    <div class="one_third">
      <div class="plan_box" style="background-color:#222222;max-width: 270px;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought: <%= op_first.no_of_customers %></h2>
            <p><img SRC="<%= op1.deal_photo.url %>" alt="img" style="width: 128px; height: 128px;"/></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: <%= op_first.no_of_customers %></h3>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;"><%= op_first.name %></li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ <%= op_first.actual_value %></td><td align="center"><%=op_first_discount%> %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">Keupon Closes on <%= Time.at(op_first.end_time.to_i).strftime("%d/%m/%Y") %></li>
            </ul>
            <a href="/deal_details?id=<%= op_first.id %>" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !op_middle.blank?
        op2 = Deal.find(op_middle.id)
    %>
    <div class="one_third">
      <div class="plan_box" style="background-color:#222222;max-width: 270px;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought: <%= op_middle.no_of_customers %></h2>
            <p><img SRC="<%= op2.deal_photo.url %>" alt="img"  style="width: 128px; height: 128px;"/></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: <%= op_middle.no_of_customers %></h3>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;"><%= op_middle.name %></li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ <%= op_middle.actual_value %></td><td align="center"><%=op_middle_discount%> %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">Keupon Closes on <%= Time.at(op_middle.end_time.to_i).strftime("%d/%m/%Y") %></li>
            </ul>
            <a href="/deal_details?id=<%= op_middle.id %>" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if !op_last.blank?
        op3 = Deal.find(op_last.id)
    %>
    <div class="plan_box last">
      <div class="plan_box" style="background-color:#222222;max-width: 270px;">
        <div class="plan_info" style="background-color:#222222;">
          <div class="content">
            <h2>Keupons Bought: <%= op_last.no_of_customers %></h2>
            <p><img SRC="<%= op3.deal_photo.url %>" alt="img"  style="width: 128px; height: 128px;"/></p>
          </div>
        </div>
        <div class="plan_details">
          <div class="content">
            <h3 class="price">Keupons Bought: <%= op_last.no_of_customers %></h3>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;"><%= op_last.name %></li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">
                <table>
                  <tr><td align="center">Price</td><td align="center">Discount</td><td align="center">Savings</td></tr>
                  <tr><td align="center">S$ <%= op_last.actual_value %></td><td align="center"><%=op_last_discount%> %</td><td align="center">S$ 2</td></tr>
                </table>
              </li>
            </ul>
            <ul class="boxlist">
              <li style="padding: 5px; width: 250px;">Keupon Closes on <%= Time.at(op_last.end_time.to_i).strftime("%d/%m/%Y") %></li>
            </ul>
            <a href="/deal_details?id=<%=op_last.id %>" style="color: orange" class="medium orange">Get this Deal</a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<%=will_paginate @open_deal_discounts,:class=>'pagination ajax'%>
