<% form_for @customer_profile, :url => {:controller => 'customers', :action => 'profile_update'} do |f| -%>
<%=hidden_field :customer_favourite, :customer_id, :value => @customer_profile.customer_id %>
<%=hidden_field_tag 'my_profile', 'profile' %>
	<div class="myacc_nav">
	    <ul>
	        <li>
	        	<%= link_to "MY PROFILE", {:controller => "customers", :action => "my_profile"}, {:class => "visited"} %>
	        </li>
	        <li>
	        	<%= link_to_remote "MY ACCOUNT", :url => {:controller => "customers", :action => "my_account"}, :update => "actionChanger" %>
	        </li>
	        <li>
	        	<%= link_to_remote "MY INVITEES", :url => {:controller => "customers", :action => "my_invitees"}, :update => "actionChanger" %>
	        </li>
	    </ul>
	</div>
	<div class="myacc_boxmain">
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            GENDER:*
	        </div>
	        <div class="myacc_right">
	        	<%= f.radio_button 'gender', 'm' %>MALE
				<%= f.radio_button 'gender', 'f' %> FEMALE
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            I WAS BORN ON:*
	        </div>
	        <div class="myacc_right">
	        	<input class="myacc_tb4" id="customer_profile_dob" name="customer_profile[dob]" size="15%" type="text" value='<%=@customer_profile.dob.to_date.strftime("%d/%m/%Y") %>'/>
				<img alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {year_range:100} );" src="/images/calendar_date_select/calendar.gif" style="padding:0 0 0 5px;cursor: pointer;"/>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            REGION:*
	        </div>
	        <div class="myacc_right">
	        	<%= f.select 'region', CustomerProfile::REGION ,{:prompt => 'Select a region'}, :class=> "myacc_tb1" %>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            MARITAL STATUS:*
	        </div>
	        <div class="myacc_right">
	        	<%= f.select 'relationship', CustomerProfile::RELATIONSHIP,{:prompt => 'Select a Marital status'}, :class=> "myacc_tb1" %>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            AVERAGE MONTHLY SALARY:*
	        </div>
	        <div class="myacc_right">
	        	<%=f.text_field 'income', :size=> '15', :class=>"myacc_tb4" %>				
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            NRIC/FIN#:*
	        </div>
	        <div class="myacc_right">
	            <%=f.text_field 'customer_pin', :size=> '15', :class=>"myacc_tb4" %>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            WORK SECTOR:*
	        </div>
	        <div class="myacc_right">
	            <%= f.select 'industry_sector_id', IndustrySector.all.collect {|p| [ p.name, p.id ] },{:prompt => 'Select a Work Sector'}, :class=>"myacc_tb1" %>
	        </div>
	    </div>
	</div>
	<div class="myacc_choose">
	    <span>CHOOSE THE CATEGORIES THAT INTEREST YOU</span>
	</div>
	<div class="myacc_cate" style="margin-left:15px;">
	    <ol>
	    	<%for category in category_all %>
                <%if category.id==get_selected_category(category.id) %>
			        <li>
			        	<%= check_box_tag "customer_favourite_deal[]",category.id,true %><%=category.name.upcase %>
			        </li>
				<% else %>
			        <li>
			            <%= check_box_tag "customer_favourite_deal[]",category.id %><%=category.name.upcase %>
			        </li>
				<% end %>
			<% end %>
	    </ol>
	</div>
	<div class="myacc_buttons">
		<%=image_submit_tag ("/images/update.jpg"), :onclick => "return Validate();" %>
	    <%=link_to image_tag("/images/cancel.jpg", :border=>0),"/", {:style=>"padding-left:30px;"} %>
	</div>
<% end %>