<% form_for @customer_profile, :url => {:controller => 'customers', :action => 'profile_update'} do |f| -%>
<%=hidden_field :customer_favourite, :customer_id, :value => @customer_profile.customer_id %>
<%=hidden_field_tag 'my_profile', 'profile' %>
	<div class="myacc_nav">
	    <ul>
	        <li>
	            <a href="javascript:void(0);" class="visited">MY PROFILE</a>
	        </li>
	        <li>
	            <a href="javascript:void(0);">MY ACCOUNT</a>
	        </li>
	        <li>
	            <a href="javascript:void(0);">MY INVITEES</a>
	        </li>
	    </ul>
	</div>
	<div class="myacc_boxmain">
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            GENDER:*
	        </div>
	        <div class="myacc_right">
	        	<%= f.radio_button 'gender', 'm' %>MALE
				<%= f.radio_button 'gender', 'f' %> FEMALE
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            I WAS BORN ON:*
	        </div>
	        <div class="myacc_right">
	        	<input class="myacc_tb4" id="customer_profile_dob" name="customer_profile[dob]" size="15%" type="text" value='<%=@customer_profile.dob%>'/>
				<img alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {year_range:100} );" src="/images/calendar_date_select/calendar.gif" style="cursor: pointer;"/>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            REGION:*
	        </div>
	        <div class="myacc_right">
	        	<%= f.select 'region', CustomerProfile::REGION ,{:prompt => 'Select a region'}, :class=> "myacc_tb1" %>
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            MARITAL STATUS:*
	        </div>
	        <div class="myacc_right">
	            <input name="tb1a" type="text" class="myacc_tb1" />
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            AVERAGE MONTHLY SALARY:*
	        </div>
	        <div class="myacc_right">
	            <input name="tb1a" type="text" class="myacc_tb1" />
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            NRIC/FIN#:*
	        </div>
	        <div class="myacc_right">
	            <input name="tb1a" type="text" class="myacc_tb1" />
	        </div>
	    </div>
	    <div class="myacc_mainb">
	        <div class="myacc_left">
	            WORK SECTOR:*
	        </div>
	        <div class="myacc_right">
	            <input name="tb1a" type="text" class="myacc_tb1" />
	        </div>
	    </div>
	</div>
	<div class="myacc_choose">
	    <span>CHOOSE THE CATEGORIES THAT INTEREST YOU</span>
	</div>
	<div class="myacc_cate" style="margin-left:15px;">
	    <ol>
	        <li>
	            <input name="ch1" type="checkbox" value="" />RESTAURANTS
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />TRAVEL
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />WELLNESS/SPAS/YOGA/MASSAGE
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />KIDS AND FAMILY
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />BARS/NIGHTLIFE
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />FITNESS
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />FASHION
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />ELECTRONICS
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />ACTIVITIES
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />BEAUTY & GROOMING
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />HOME DECOR AND SERVICES
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />EDUCATION
	        </li>
	        <li>
	            <input name="ch1" type="checkbox" value="" />SOCIAL SERVICE/CHARITY
	        </li>
	    </ol>
	</div>
	<div class="myacc_buttons">
	    <a href="javascript:void(0);"><img src="/images/update.jpg" border="0" hspace="20" /></a>
		<a href="javascript:void(0);"><img src="/images/cancel.jpg" border="0" /></a>
	</div>
<% end %>