<table cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tbody><tr>
                              <td align="center" width="5%">&nbsp;</td>
                              <td height="60" align="left" width="91%" style="color: #FFFFFF;font-family: Arial,Helvetica,sans-serif;font-size: 12px;font-weight: bold;text-decoration: none;"><%= @deal.name %></td>
                              <td align="center" width="4%">&nbsp;</td>
                            </tr>
                            <tr>
                              <td>&nbsp;</td>
                              <td height="60"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody><tr>
                                  <td width="51%"><img height="181" width="210" src="<%=$server_name%>/<%=@deal.deal_photo.url%>"></td>
                                  <td bgcolor="#24272c" width="41%" valign="top"><table cellspacing="0" cellpadding="0" border="0" width="100%">
                                      <tbody><tr>
                                        <td height="32" background="<%=$server_name%>/images/hottest_deal_red_box.jpg" align="center" style="background-repeat: no-repeat;color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;" class="open_deal_text1">For</td>
                                      </tr>
                                      <tr>
                                        <td height="26" align="center" style="color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;">S$<%= @deal.buy %></td>
                                      </tr>
                                      <tr>
                                        <td height="32" background="<%=$server_name%>/images/hottest_deal_red_box.jpg" align="center" style="background-repeat: no-repeat;color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;" class="open_deal_text1">Discount</td>
                                      </tr>
                                      <tr>
                                        <td height="26" align="center" style="color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;"><%= @deal.discount %> %</td>
                                      </tr>
                                      <tr>
                                        <td height="32" background="<%=$server_name%>/images/hottest_deal_red_box.jpg" align="center" style="background-repeat: no-repeat;color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;" class="open_deal_text1">Quantity</td>
                                      </tr>
                                      <tr>
                                        <td height="26" align="center" style="color: #FFFFFF; font-family: Arial,Helvetica,sans-serif; font-size: 12px;"><%= "#{@customer_deal.quantity}" %></td>
                                      </tr>
                                  </tbody></table></td>
                                </tr>


                              </tbody></table></td>
                              <td>&nbsp;</td>
                            </tr>
                            <tr>
                              <td align="center" width="5%">&nbsp;</td>
                              <td height="60" align="center" width="91%" style="color: #FFFFFF;font-family: Arial,Helvetica,sans-serif;font-size: 12px;font-weight: bold;text-decoration: none;">The Deal is available for you until <%= Time.at(@deal.expiry_date.to_i).strftime("%d-%m-%Y") %> 12:00</td>
                              <td align="center" width="4%">&nbsp;</td>
                            </tr>

                          </tbody></table>