<script type="text/javascript">
  function changeMyProfile(i) {
    if (i == 1)
    {
      document.getElementById('myprofile').style.display="block";
      document.getElementById('myaccount').style.display="none";
      document.getElementById("Img1").src="/images/my_profile_activetab.jpg";
      document.getElementById("Img2").src="/images/myaccount_tab.jpg";
    }
    else if (i == 2) {
      document.getElementById("Img2").src="/images/myaccount_activetab.jpg";
      document.getElementById("Img1").src="/images/my_profile_tab.jpg";
      document.getElementById('myaccount').style.display="block";
      document.getElementById('myprofile').style.display="none";

    }
  }
</script>
<style type="text/css">
  .myprofile
  {
    width:946px;
    background-image:url(/images/change_password_header.jpg);
    background-repeat: no-repeat;
    color:#222222;
    padding:4px;
    _padding:0px;
    text-align:center;
  }
  .myaccount
  {
    width:946px;
    background-image:url(/images/my_account_header.jpg);
    background-repeat: no-repeat;
    color:#222222;
    padding:4px;
    _padding:0px;
    text-align:center;
  }
</style>

<tr>
  <td>
    <table><tr><td>
        </td></tr>
    </table>
    <div id="myprofile" class="myprofile" style="border: 2px solid black; display: block; min-height: 450px; margin-bottom: 10px; width: 938px; margin-top: -8px; margin-left: 8px;">
      <br/><table  style="font-size:14px;min-height:150px;margin-top: 100px;width: 510px;" align="center" CELLPADDING="3" CELLSPACING="6">
        <% form_tag '/change_password_update' do -%>
          <%=hidden_field_tag 'current_user', "#{current_customer.id}"%>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">Old Password:</td>
            <td width="10%"><%= password_field_tag 'old_password', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">New Password:</td>
            <td width="10%"><%= password_field_tag 'password', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;">Confirm Password :</td>
            <td width="10%"> <%= password_field_tag 'password_confirmation', {}, :size => 20, :class => 'text' %></td>
          </tr>
          <tr>
            <td width="5%"> </td>
            <td width="10%" style="color:#000000;"></td>
            <td width="10%">     <%=image_submit_tag ("update_btn.png")%><%=link_to image_tag("cancel_search.png", :border=>0),"/", {:style=>"padding-left:10px;"}%></td>
          </tr>
        <% end -%>



        <tr><td></td><td></td></tr>
      </table>

    </div>

  </td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>










