<%=render :partial=>'/shared/marketing_message'%>
<div id="slide">
  <div id="slider" class="png">
    <div id="slideh">
      <% i = 1
      for htd in @hot_deal_discounts
        discount = htd[1]
        hot_deal = @hot_deals[htd[0]]
        htdeal = Deal.find(hot_deal.id)
      %>
      <div class="slider_item sliderh<%=i%>">
        <h3>Keupons Bought: <%= hot_deal.no_of_customers%></h3>
        <p style="color:red;"><%= link_to hot_deal.name, :controller => 'customers',:action=>'deal_details',:id => hot_deal.id  %></p>
        <a href="/deal_details?id=<%= hot_deal.id %>"><img class="item" src="<%=htdeal.deal_photo.url%>" alt="" border="0" /></a>
      </div>
      <%
        i+=1
      end
      %>
    </div>
    <img class="scrollButtons left" src="/images/leftarrow.jpg"/>
    <img class="scrollButtons right" src="/images/rightarrow.jpg"/>
  </div>
</div>

<br/> <img class="" src="/images/open_deal.jpg"/>
<div id="featured_slider">
<%=render :partial=>'open_deals'%>
</div>
<br/> <img class="" src="/images/recent_deals_header.jpg"/>

<!-- Start Wrapper -->
   <div id="wrapper">

		<div class="slider-frame">
                <div class="sliderImages">
					<ul>
                                          <% for recent in @recent_deals%>
						<li>
                                                    <a href="http://www.google.co.in/" ><img src="<%=recent.deal_photo.url%>" width="240" height="160" alt="Project Title 1" /></a></li>
						<%end%>
					</ul>
                </div>
	 </div>
			 <div class="arrow-but">
				<a href="#" class="prev"><img src="./images/previous.png" alt="Previous" width="43" height="42" /></a>
				<a href="#" class="next"><img src="./images/next.png" alt="Next"  width="43" height="42"/></a>			</div>

<!-- ********************END SLIDER IMAGES*******************************-->
   </div>
