<h3>Deal of the day</h3>

<br/>Deal Name: <%=@deal.name%><br/>

<br/>Value : <%=@deal.value.to_i%><br/>

<br/>Discount : <%=@deal.discount.to_i%> %<br/>

<br/>Save : <%=@deal.save_amount.to_i%><br/>

<br/>Highlights: <%=@deal.highlights%><br/>

<br/>Rules : <%=@deal.rules%><br/><br/>