<div id="slide">
  <div id="slider" class="png">
    <div id="slideh">
      <% i = 1
      for hot_deal in @hot_deals
        htdeal = Deal.find(hot_deal.id)
      %>
      <div class="slider_item sliderh<%=i%>">
        <h3>Keupons Bought: <%= hot_deal.no_of_customers%></h3>
        <p style="color:red;"><%= link_to hot_deal.name, :controller => 'customers',:action=>'deal_details',:id => hot_deal.id  %></p>
        <a href="/deal_details?id=<%= hot_deal.id %>"><img class="item" src="<%=htdeal.deal_photo.url%>" alt="" border="0" /></a>
      </div>
      <%
        i+=1
      end
      %>
    </div>
    <img class="scrollButtons left" src="/images/leftarrow.jpg"/>
    <img class="scrollButtons right" src="/images/rightarrow.jpg"/>
  </div>
</div>

<br/> <img class="" src="/images/open_deal.jpg"/>
<div id="featured_slider">
<%=render :partial=>'open_deals'%>
</div>
<br/> <img class="" src="/images/recent_deals_header.jpg"/>
