

<%if !@deal.nil?%>
<br/>

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
    <td width="773" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="98%" height="48" align="center" background="images/todayBG.jpg" class="deals_header">Deal Details</td>
        </tr>
      <tr>
        <td class="deals_content"><p><br/><%=@deal.name%></p></td>
      </tr>
      <tr>
        <td style="border:1px solid #000000;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="33%" align="left">
              <%if !@deal.deal_photo.url.nil? %> <%=image_tag (@deal.deal_photo.url),:width=>"258", :height=>"291" %> <%else%><img src="images/img1.jpg" border="0px" width="258" height="291"/> <%end%>
            </td>
            <td width="67%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" align="center" style="padding-top:8px; "><span class="price_text_red">Price:</span> <span class="price_text_black">$<%=@deal.value%></span></td>
              </tr>
              <tr>
                <td width="402" height="111" background="images/discount_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="5" colspan="2"></td>
                    </tr>
                  <tr>
                    <td width="16%" align="center" class="percent">Discount</td>
                    <td width="84%"><span class="percent10">10%</span><span class="percent20">20%</span> <span class="percent30">30%</span> <span class="percent40">40%</span> <span class="percent50">50%</span> <span class="percent60">60%</span></td>
                    </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td height="27" background="images/scale_img.gif"><table width="163" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="8" bgcolor="#000000"></td>
                      </tr>
                    </table></td>
                    </tr>
                  <tr>
                    <td align="center" class="customer">Customer</td>
                    <td><span class="customer0">0</span> <span class="customer10">10</span> <span class="customer20">20</span> <span class="customer30">30</span> <span class="customer40">40</span> <span class="customer50">50</span> <span class="customer60">60</span></td>
                    </tr>
                </table></td>
                <td width="111" height="111" background="images/current_discount_img.jpg" style="background-repeat:repeat-x;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" class="price_text_black"><%=current_deal_discount_for_deal(@deal.id)%> % </td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="2" align="center"><table width="254" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="14" align="left" background="images/time_bg.jpg"><img src="images/time_left_curve.jpg" width="7" height="26" /></td>
                    <td width="224" align="center" background="images/time_bg.jpg" class="deals_header1">Time Left</td>
                    <td width="16" align="right" background="images/time_bg.jpg"><img src="images/time_right_curve.jpg" width="7" height="26" /></td>
                  </tr>
                  <tr>
                    <td bgcolor="#2e2e2e">&nbsp;</td>
                    <td height="54" bgcolor="#2e2e2e"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="18%" height="49" align="center" class="time1"><span class="time_text_red">Days</span> </td>
                        <td width="19%" align="center" class="time"><span class="time_text_red">Hours</span></td>
                        <td width="18%" align="center" class="time1"><span class="time_text_red">Min</span></td>
                        <td width="18%" align="center" class="time"><span class="time_text_red">Sec</span></td>
                      </tr>
                      <tr>
                        <td height="49" align="center" class="time1">
                          <span class="time_text_white" id="deal_time_left" colspan="4"></span>
                        </td>
                      </tr>
                    </table></td>
                    <td bgcolor="#2e2e2e">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="15" colspan="2"></td>
              </tr>
              <tr>
                <td colspan="2" align="center"><a href="#">   <%=link_to image_tag('buynow_btn.jpg',:border=>'0',:width=>"184", :height=>"42"), :controller => 'customers', :action=>'transaction_details', :id => @deal.id%></a></td>
              </tr>
              <tr>
                <td height="13" colspan="2"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="49%" height="30" background="images/black_gradient_header.jpg" class="deals_header2">The fine prints</td>
            <td width="2%">&nbsp;</td>
            <td width="49%" height="30" background="images/black_gradient_header.jpg" class="deals_header2">Highlights</td>
          </tr>
          <tr>
            <td bgcolor="#d9d9d9" class="deals_content" style="padding:6px 6px 6px 6px;"><%=@deal.rules%> </td>
            <td>&nbsp;</td>
            <td bgcolor="#d9d9d9" class="deals_content" style="padding:6px 6px 6px 6px;"><%=@deal.highlights%> </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="49%" height="30" background="images/black_gradient_header.jpg" class="deals_header2">The Company</td>
            <td>&nbsp;</td>
            <td width="49%" height="30" background="images/black_gradient_header.jpg" class="deals_header2">Deal Location</td>
          </tr>
          <tr>
            <td valign="top" bgcolor="#d9d9d9"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="31%" style="padding:6px;">
                           <%if @company.company_photo.nil?%>
                  <a href="<%=@company.website%>"><img src="<%=@company.company_photo.url %>" style="width: 116px; height: 73px;"/></a>
                   <%else%>
                  <img src="images/apple_img.jpg" width="116" height="73" /><br/>
                  <%end%>
                  <br/>
                   <span class="deals_content_red"><%=@deal.merchant.merchant_profile.company.name%><br/>
                    <%=@company.address1 %> <%=@company.address2 %><br/>
                    <%=@company.city %><br/>
                    </span></td>
                <td width="4%">&nbsp;</td>
                <td width="65%" valign="top" class="deals_content" style="padding:6px 6px 6px 6px;"><%= @company.detail %></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
            <td align="center" bgcolor="#d9d9d9" style="padding:6px 6px 6px 6px;">
            <%= GMap.header %>
<%= @map.to_html %>
<div id="user1" style="height: 166px;  width: 352px;">
<div align="center">
  <%= @map.div(:width => 352, :height => 166, :style => "border-style: solid;") %>
</div>
</div>
            </td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </table></td>
    <td width="12" valign="top">&nbsp;</td>
    <td width="187" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="98%" height="48" align="center" background="images/todayBG.jpg" class="deals_header1">More Great Deals</td>
        </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td height="500" valign="top" style="border:1px solid #000000; background-color:#d9d9d9;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="deals_content_right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque <br /><br />
              <a href="#"><img src="images/view_btn.png" width="63" height="22" border="0"/></a></td>
          </tr>
          <tr>
            <td align="center"><img src="images/line1.jpg" width="165" height="5" /></td>
          </tr>
          <tr>
            <td class="deals_content_right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque <br /><br />
              <a href="#"><img src="images/view_btn.png" width="63" height="22" border="0"/></a></td>
          </tr>
          <tr>
            <td align="center"><img src="images/line1.jpg" width="165" height="5" /></td>
          </tr>
         <tr>
            <td class="deals_content_right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque <br /><br />
              <a href="#"><img src="images/view_btn.png" width="63" height="22" border="0"/></a></td>
          </tr>
          <tr>
            <td align="center"><img src="images/line1.jpg" width="165" height="5" /></td>
          </tr>
          <tr>
            <td class="deals_content_right">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia facilisis sapien, lacinia ultrices augue scelerisque <br /><br />
              <a href="#"><img src="images/view_btn.png" width="63" height="22" border="0"/></a></td>
          </tr>


          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td height="30" colspan="3" background="images/black_gradient_header.jpg" class="deals_header2">Customers Who Bought This Item Also Bought</td>
  </tr>
  <tr>
    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="3%"><img src="images/left_arrow_btn.jpg" width="19" height="34" border="0"/></td>
        <td width="94%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="20%">&nbsp;</td>
              <td width="20%">&nbsp;</td>
              <td width="20%">&nbsp;</td>
              <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
              <td align="center"><a href="#"><img src="images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
              <td align="center"><a href="#"><img src="images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
              <td align="center"><a href="#"><img src="images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
              <td width="20%" align="center"><a href="#"><img src="images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
              <td width="20%" align="center"><a href="#"><img src="images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
            </tr>
            <tr>
              <td height="10" colspan="5"></td>
            </tr>
            <tr>
              <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </td>
              <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
              <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
              <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
              <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
            </tr>
        </table></td>
        <td width="3%"><a href="#"><img src="images/right_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td height="50" colspan="3" background="images/comment_header_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="59%" align="center"><img src="images/customer_review_text.jpg" width="225" height="50" /></td>
        <td width="41%" align="center"><img src="images/write_review_text.jpg" width="286" height="50" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="573"><table width="100%" border="0" cellspacing="0" cellpadding="0">

          <tr>
            <td bgcolor="#e8e8e8"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr>
                <td width="20%" rowspan="3" align="center"><img src="images/review_img.jpg" width="94" height="64" /></td>
                <td width="64%" height="36" class="deals_content_red_bold">Posted by xyz<br />
                  2010-12-02</td>
                <td colspan="2" class="deals_content"><strong>2 comments</strong></td>
              </tr>
              <tr>
                <td height="45" colspan="2" class="deals_content">Sed in purus sed lectus faucibus dapibus. Nam in lacinia est. Quisque lobortis gravida sapien eget tincidunt. Aliquam erat volutpat. Ut nec odio in ipsum malesuada aliquet.</td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td height="19">&nbsp;</td>
                <td colspan="2"><a href="#" class="readmore_link">Read more...</a></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#dcdcdc"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr>
                <td width="20%" rowspan="3" align="center"><img src="images/review_img.jpg" width="94" height="64" /></td>
                <td width="64%" height="36" class="deals_content_red_bold">Posted by xyz<br />
                  2010-12-02</td>
                <td colspan="2" class="deals_content"><strong>2 comments</strong></td>
              </tr>
              <tr>
                <td height="45" colspan="2" class="deals_content">Sed in purus sed lectus faucibus dapibus. Nam in lacinia est. Quisque lobortis gravida sapien eget tincidunt. Aliquam erat volutpat. Ut nec odio in ipsum malesuada aliquet.</td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td height="19">&nbsp;</td>
                <td colspan="2"><a href="#" class="readmore_link">Read more...</a></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#e8e8e8"><table width="100%" border="0" cellspacing="2" cellpadding="0">
              <tr>
                <td width="20%" rowspan="3" align="center"><img src="images/review_img.jpg" width="94" height="64" /></td>
                <td width="64%" height="36" class="deals_content_red_bold">Posted by xyz<br />
                  2010-12-02</td>
                <td colspan="2" class="deals_content"><strong>2 comments</strong></td>
              </tr>
              <tr>
                <td height="45" colspan="2" class="deals_content">Sed in purus sed lectus faucibus dapibus. Nam in lacinia est. Quisque lobortis gravida sapien eget tincidunt. Aliquam erat volutpat. Ut nec odio in ipsum malesuada aliquet.</td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td height="19">&nbsp;</td>
                <td colspan="2"><a href="#" class="readmore_link">Read more...</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="1" bgcolor="#000000">&nbsp;</td>
        <td width="389" valign="top" background="images/review_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="4%">&nbsp;</td>
            <td width="91%">&nbsp;</td>
            <td width="5%">&nbsp;</td>
          </tr>
          <tr>
            <td height="39">&nbsp;</td>
            <td class="deals_content1">Please share your views about this product here:</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><textarea name="textarea" id="textarea" cols="40" rows="12"></textarea></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="59">&nbsp;</td>
            <td align="center"><a href="#"><img src="images/share_btn.jpg" width="102" height="34" border="0" /></a></td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="35" colspan="3" background="images/comment_header_bg.jpg">&nbsp;</td>
  </tr>
</table>
<%else%>
<img src="images/deal_closed.jpg" border="0px" />
<%end%>

        

<script language="JavaScript">
  <% if !@deal.nil? %>
  StartCountDown("deal_time_left","<%= Time.at(@end_time.to_i).strftime('%m/%d/%Y %H:%M')%>" )
  <% end %>  

  function StartCountDown(myDiv,myTargetDate)
  {
    var dthen	= new Date(myTargetDate);
    var dnow	= new Date();
    ddiff		= new Date(dthen-dnow);
    gsecs		= Math.floor(ddiff.valueOf()/1000);
    CountBack(myDiv,gsecs);
  }

  function Calcage(secs, num1, num2)
  {
    s = ((Math.floor(secs/num1))%num2).toString();
    if (s.length < 2)
    {
      s = "0" + s;
    }
    return (s);
  }

  function CountBack(myDiv, secs)
  {
    var DisplayStr;
    var DisplayFormat = "%%D%%&nbsp;&nbsp;&nbsp;%%H%%&nbsp;&nbsp;&nbsp;%%M%%&nbsp;&nbsp;&nbsp;%%S%%";
    DisplayStr = DisplayFormat.replace(/%%D%%/g,	Calcage(secs,86400,100000));
    DisplayStr = DisplayStr.replace(/%%H%%/g,		Calcage(secs,3600,24));
    DisplayStr = DisplayStr.replace(/%%M%%/g,		Calcage(secs,60,60));
    DisplayStr = DisplayStr.replace(/%%S%%/g,		Calcage(secs,1,60));
    if(secs > 0)
    {
      document.getElementById(myDiv).innerHTML = DisplayStr;
      setTimeout("CountBack('" + myDiv + "'," + (secs-1) + ");", 990);
    }
    else
    {
      document.getElementById(myDiv).innerHTML = "Deal Closed";
    }
  }

</script>