<script type="text/javascript" src="/javascripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
<script type="text/javascript" src="/javascripts/loopslider.js"></script>
<script type="text/javascript" src="/javascripts/custom_open.js"></script>

<tr>
        <td background="images/marketing_msg_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="28%" align="left"><img src="images/marketing_msg_img.jpg" width="274" height="120" /></td>
            <td width="70%" align="center" class="marketing_msg_text"> Welcome to Keupons, <br />
              the only site where you are guaranteed a discount! </td>
            <td width="2%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
<tr>
        <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="17%" align="left"><img src="images/hot_deals_header_text.jpg" width="182" height="55" /></td>
            <td width="83%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="336" >

           <!-- ********************OPEN IMAGES*******************************-->
            <div id="loopedSlider"><!-- begin loopedSlider -->
            		<div class="container">
                        <div class="slides_open">
       <% for htd in @hot_deal_discounts
        discount = htd[1]
        hot_deal = @hot_deals[htd[0]]
        htdeal = Deal.find(hot_deal.id)
      %>
                            <div>
                            	<div class="text">
                            		<h1> <%=  hot_deal.name %></h1>
									<a href="#" class="button2">GetDeal</a>
                                </div>
                            	<a href="/deal_details?id=<%= hot_deal.id %>"><img class="item" src="<%=htdeal.deal_photo.url%>" width="512" height="218" alt="clouds" border="0" /></a>
                            </div>
<%end%>
                 </div>
                    </div>
                        <a href="#" class="previous_open"><img src="./images/previous_open.png" width="46" height="47" alt="Previous" /></a>
                        <a href="#" class="next_open"><img src="./images/next_open.png" width="46" height="47" alt="Next" /></a>
           </div> <!-- end loopedSlider -->

        <div id="mini-footer"><!-- begin mini-footer -->
        </div><!-- end mini-footer -->
<script type="text/javascript"> Cufon.now(); </script>

 <!-- ********************END OPEN IMAGES*******************************-->


        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="17%" align="left"><img src="images/open_deals_header_text.jpg" width="196" height="55" /></td>
            <td width="83%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="220">
          <!-- ********************SLIDER IMAGES*******************************-->
          <div id="wrapper">

		<div class="slider-frame">
                <div class="sliderImages">
                  <ul>

                    <%for opdd in @open_deal_recents
                      discount = opdd[1]
                      open_deal = @open_deals_recents[opdd[0]]
                      opd = Deal.find(open_deal.id)
                    %>
                      <li>
                        <a href="/deal_details?id=<%= open_deal.id %>" ><img src="<%=opd.deal_photo.url%>" width="240" height="160" alt="Project Title 1" /></a></li>
                    <%end%>
                  </ul>
                </div>
	 </div>
			 <div class="arrow-but">
				<a href="#" class="prev"><img src="./images/previous.png" alt="Previous" width="43" height="42" /></a>
				<a href="#" class="next"><img src="./images/next.png" alt="Next"  width="43" height="42"/></a>			</div>

<!-- ********************END SLIDER IMAGES*******************************-->
   </div>
        </td>
      </tr>