 <%= stylesheet_link_tag '/slider/layout' %>
 <%= stylesheet_link_tag '/slider/style' %>

<script type="text/javascript" src="/javascripts/jquery_new_slider.js"></script>
<script type="text/javascript" src="/javascripts/jquery.easing.js"></script>
<script type="text/javascript" src="/javascripts/script_new_slider.js"></script>



<script type="text/javascript">
 $(document).ready( function(){
		$('#lofslidecontent45').lofJSidernews( { interval:2000,
											 	easing:'easeInOutQuad',
												duration:1200,
												auto:true } );
	});

</script>
<style>

	ul.lof-main-wapper li {
		position:relative;
	}
</style>

 <tr>
        <td background="/images/marketing_msg_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" background="/images/up_banner_img.jpg" width="973" height="118">
            <div style="float:right; width:600px; text-align:center"><span class="marketing_msg_text1" style="padding-left:20px;">Welcome to Keupons,<br />
              <span style="font-size:18px;">the only site where you are guaranteed a discount!</span></span> </div>
             </td>

          </tr>
        </table></td>
      </tr>
       <tr>
        <td height="48" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" ><img src="/images/hot_deals_strip.jpg" /></td>
            </tr>
        </table></td>
      </tr>


       <tr>
        <td height="336" >

<div id="containers">
<!------------------------------------- THE CONTENT ------------------------------------------------->
<div id="lofslidecontent45" class="lof-slidecontent">
<div class="preload"><div></div></div>
 <!-- MAIN CONTENT --> 
  <div class="lof-main-outer">
  	<ul class="lof-main-wapper">
  <% for htd in @hot_deal_discounts
        discount = htd[1]
        hot_deal = @hot_deals[htd[0]]
        htdeal = Deal.find(hot_deal.id)
      %>
  		<li>
        		<img src="/images/416719news7.jpg" title="Newsflash 2" height="300" width="900"/><div class="lof-main-item-desc">
                <h3><a target="_parent" title="Newsflash 2" href="/deal_details?id=<%= hot_deal.id %>">
                <div class="banner_content"><img src="<%=htdeal.deal_photo.url%>" style="padding-top:22px;padding-left:18px;" /></div></a></h3>
                <div class="ban_text"><%=  hot_deal.name %></div>
                <div style="width:135px; height:29px; float:left; margin-top:20px; " ><a href="/deal_details?id=<%= hot_deal.id %>"><img src="/images/get.jpg" width="135" height="29" border="0" /></a></div>
             </div>
        </li> 
      
        <%end%>
       
        
      
       
      </ul>  	
  </div>
  <!-- END MAIN CONTENT --> 
    <!-- NAVIGATOR -->

  <div class="lof-navigator-outer">
  		<ul class="lof-navigator">
 <% for htd in @hot_deal_discounts
        discount = htd[1]
        hot_deal = @hot_deals[htd[0]]
        htdeal = Deal.find(hot_deal.id)
      %>
            <li>
            	<div>
                	<img src="<%=htdeal.deal_photo.url%>" />
                	
                  	<h3><%=  hot_deal.name %></h3>
                </div>    
            </li>
           <%end%>
            
            
        
          
           		
        </ul>
  </div>
 </div> 
<script type="text/javascript">

</script>


    </div>

        </td>
      </tr>


       <tr>
        <td height="48" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="48" align="left"><img src="/images/open_deal_strip.jpg" /></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td height="220" align="center">
       <!-- ********************SLIDER IMAGES*******************************-->
          <div id="wrapper">

		<div class="slider-frame">
                <div class="sliderImages">
                  <ul>

                    <%for opdd in @open_deal_recents
                      discount = opdd[1]
                      open_deal = @open_deals_recents[opdd[0]]
                      opd = Deal.find(open_deal.id)
                    %>
                      <li>
                        <a href="/deal_details?id=<%= open_deal.id %>" ><img src="<%=opd.deal_photo.url%>" width="240" height="160" alt="Project Title 1" /></a></li>
                    <%end%>
                  </ul>
                </div>
	 </div>
			 <div class="arrow-but">
				<a href="#" class="prev"><img src="./images/previous.png" alt="Previous" width="43" height="42" /></a>
				<a href="#" class="next"><img src="./images/next.png" alt="Next"  width="43" height="42"/></a>			</div>

<!-- ********************END SLIDER IMAGES*******************************-->
   </div>
        </td>
      </tr>