<h3>Today's Deal</h3>
<div style="width: 900px;">
  <div align="left" style="width:400px;">
    <div style="color: red"><%=@deal.name%></div><br/><br/>
    <%=@deal.rules%><br/><br/>
    <%=@deal.highlights%><br/>
  </div>
  <div align="right" style="margin-right: 100px;margin-top: -100px;">
    <%=image_tag (@deal.deal_photo.url),:width=>"300", :height=>"250" %><br/><br/>
    <table>
      <tr>
        <td> <font size="3" color="red">Value :</font> <%=@deal.value%><br/><br/></td>
    <td> <font size="3" color="red">Discount : </font> <%=@deal.discount.to_i%> %  <br/><br/></td>
    <td><font size="3" color="red"> Save : </font><%=@deal.save_amount.to_i%><br/><br/></td></tr>
     <tr><td><%=link_to image_tag('buy.jpg',:border=>'0'), :controller => 'customers', :action=>'transaction_details', :id => @deal.id%> </td></tr>
    </table>
  </div>

</div>

		