
      <tr>
        <td height="55" background="/images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="2%" align="left" class="header_text">&nbsp;</td>
            <td width="98%" align="left" class="header_text"><%=@deal.name%></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <%if !@deal.nil?%>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="top">&nbsp;</td>
                <td valign="top">&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr>
                <td width="2%" valign="top">&nbsp;</td>
                <td width="30%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  
                  <tr>
                    <td background="/images/price_black_bg.jpg" style="background-repeat:no-repeat;" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="3" height="2"></td>
                        </tr>
                      <tr>                        
                        <td colspan="3"><%= render :partial => "deal_scale" %></td>
                        </tr>
                      <tr>
                        <td height="3" colspan="3"></td>
                        </tr>
                      <tr>
                        <td width="7%">&nbsp;</td>
                        <td width="87%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td width="85%"><img src="/images/price_discount_save.jpg" width="251" height="32" /></td>
                          </tr>
                          <tr>
                            <td height="26" background="/images/price_discount_save_bottom.png" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="36%" align="center" class="time1">$<%=@deal.value%></td>
                                  <td width="27%" align="center" class="time1"><%=current_deal_discount_for_deal(@deal.id)%> %</td>
                                  <td width="37%" align="center" class="time1">$ <%=@deal.save_amount %></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
                        <td width="6%">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="10" colspan="3"></td>
                        </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td><table width="100%" border="0" cellpadding="0" cellspacing="0" background="/images/timeleft_bg.jpg" style="border:1px solid #FFFFFF;">
                          <tr>
                            <td width="27%" height="49" align="center" class="time">Time Left:</td>
                            <td width="18%" align="center" bgcolor="#FFFFFF" class="time1">Days <br />
                              02</td>
                            <td width="19%" align="center" class="time">Hours<br />
                              01</td>
                            <td width="18%" align="center" bgcolor="#FFFFFF" class="time1">Min<br />
                              07</td>
                            <td width="18%" align="center" class="time">Sec<br />
                              45</td>
                          </tr>
                        </table></td>
                        <td>&nbsp;</td>
                      </tr>
                      
                      <tr>
                        <td height="12" colspan="3"></td>
                        </tr>
                    </table>

                        </td>
                  </tr>
                  <tr>
                        <td align="center" ><%=link_to image_tag('buy_now_btn.png',:border=>'0',:width=>"179", :height=>"50"), :controller => 'customers', :action=>'transaction_details', :id => @deal.id%></td>
                        </tr>
                </table></td>
                <td width="1%">&nbsp;</td>
                <td width="34%" valign="top">
                  <%if !@deal.deal_photo.url.nil? %> <%=image_tag (@deal.deal_photo.url),:width=>"330", :height=>"310" %> <%else%><img src="/images/iphone_img.jpg" width="330" height="310" border="0"/> <%end%>
                  </td>
                <td width="1%">&nbsp;</td>
                <td width="30%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="140" valign="top" background="/images/marchant_box_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                        <tr>
                          <td width="33%" height="82" align="center">
                            
                             <%if !@company.company_photo.nil?%>
                  <a href="<%=@company.website%>"><img src="<%=@company.company_photo.url %>" style="width: 82px; height: 72px;"/></a>
                   <%else%>
                  <img src="/images/apple_logo.jpg" width="82" height="72" /><br/>
                  <%end%>
                          </td>
                          <td width="67%" class="deals_content_white"><%=@deal.merchant.merchant_profile.company.name%></td>
                        </tr>
                        <tr>
                          <td height="37" colspan="2" align="center" class="deals_content_red">A<%=@company.address1 %> <%=@company.address2 %><br/>
                          <%=@company.city %></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="39" class="product_specification_text">About the Merchant</td>
                  </tr>
                  <tr>
                    <td class="deals_content"><p><%= truncate(@company.detail,400) %> </p></td>
                  </tr>
                </table></td>
                <td width="2%" valign="top">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>          
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%">&nbsp;</td>
                <td width="32%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="/images/fine_print_header.jpg" width="312" height="118" /></td>
                  </tr>
                  <tr>
                    <td height="32" background="/images/fine_print_black_gradient.jpg"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="12%" align="center"><img src="/images/arrow_bullet_red.png" width="10" height="11" /></td>
                        <td width="88%" align="left" class="deals_content_white">Deal Expire on 21/12/2010</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="25" bgcolor="#e7e7e7"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr>
                        <td width="8%" align="center">&nbsp;</td>
                        <td width="92%" align="left" class="deals_content1">Deal Rules</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#bababa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6%">&nbsp;</td>
                        <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                        <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                        <td width="4%">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#bababa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6%">&nbsp;</td>
                        <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                        <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                        <td width="4%">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#bababa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6%">&nbsp;</td>
                        <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                        <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                        <td width="4%">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#bababa"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6%">&nbsp;</td>
                        <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                        <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                        <td width="4%">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>

                </table></td>
                <td width="1%">&nbsp;</td>
                <td width="32%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td><img src="/images/highlights_header.jpg" width="315" height="100" /></td>
                  </tr>

                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="1"></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="40" bgcolor="#e5e5e5"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="6%">&nbsp;</td>
                          <td width="5%" valign="top"><img src="/images/arrow_bullet.png" width="10" height="11" /></td>
                          <td width="85%" align="left" class="deals_content">Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
                          <td width="4%">&nbsp;</td>
                        </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="1%">&nbsp;</td>
                <td width="31%" background="/images/deal_location_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="53" align="center">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center">
                     
                                  <%= GMap.header %>
<%= @map.to_html %>
<div id="user1" style="height: 266px;  width: 270px;">
<div align="center">
  <%= @map.div(:width => 270, :height => 266, :style => "border-style: solid;") %>
</div>
</div>
                    </td>
                  </tr>
                </table></td>
                <td width="1%">&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <%end%>
          <tr>
            <td height="55" align="left" background="/images/header_red_bg.jpg"><img src="/images/customers_header_text.jpg" width="700" height="55" /></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" align="center"><a href="#"><img src="/images/left_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
                <td width="94%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="20%">&nbsp;</td>
                      <td width="20%">&nbsp;</td>
                      <td width="20%">&nbsp;</td>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                    </tr>
                    <tr>
                      <td height="10" colspan="5"></td>
                    </tr>
                    <tr>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                    </tr>
                </table></td>
                <td width="3%"><a href="#"><img src="/images/right_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
    <%if !@flag%>
    <td height="50" colspan="3" background="/images/comment_header_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="59%" align="center"><img src="/images/customer_review_text.jpg" width="225" height="50" /></td>
        <td width="41%" align="center"><img src="/images/write_review_text.jpg" width="286" height="50" /></td>
      </tr>
    </table></td>
  </tr>
  </tr>
  <tr id='comments'>
    <%=render :partial=>'/discussions/reviews'%>
    <%else%>
    <td height="50" colspan="3" background="/images/comment_header_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="59%" align="center"><img src="/images/customer_comment.jpg" width="225" height="50" /></td>
        <td width="41%" align="center"><img src="/images/write_ur_comment.jpg" width="286" height="50" /></td>
      </tr>
    </table></td>
  </tr>
  </tr>
  <tr id='comments'>
    <%=render :partial=>'/discussions/comments'%>
    <%end%>
  </tr>
          <tr>
            <td height="55" align="left" background="/images/header_red_bg.jpg"><img src="/images/more_great_deals_header_text.jpg" width="280" height="55" /></td>
          </tr>
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3%" align="center"><a href="#"><img src="/images/left_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
                <td width="94%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="20%">&nbsp;</td>
                      <td width="20%">&nbsp;</td>
                      <td width="20%">&nbsp;</td>
                      <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                      <td width="20%" align="center"><a href="#"><img src="/images/mobile_img_small.jpg" width="120" height="119" border="0"/></a></td>
                    </tr>
                    <tr>
                      <td height="10" colspan="5"></td>
                    </tr>
                    <tr>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a> </td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                      <td align="center"><a href="#" class="deals_content_blue_link">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></td>
                    </tr>
                </table></td>
                <td width="3%"><a href="#"><img src="/images/right_arrow_btn.jpg" width="19" height="34" border="0"/></a></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>


<script language="JavaScript">
  <% if !@deal.nil? %>
  StartCountDown("deal_time_left","<%= Time.at(@end_time.to_i).strftime('%m/%d/%Y %H:%M')%>" )
  <% end %>

  function StartCountDown(myDiv,myTargetDate)
  {
    var dthen	= new Date(myTargetDate);
    var dnow	= new Date();
    ddiff		= new Date(dthen-dnow);
    gsecs		= Math.floor(ddiff.valueOf()/1000);
    CountBack(myDiv,gsecs);
  }

  function Calcage(secs, num1, num2)
  {
    s = ((Math.floor(secs/num1))%num2).toString();
    if (s.length < 2)
    {
      s = "0" + s;
    }
    return (s);
  }

  function CountBack(myDiv, secs)
  {
    var DisplayStr;
    var DisplayFormat = "&nbsp;&nbsp;&nbsp;&nbsp;%%D%%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%H%%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%M%%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%S%%";
    DisplayStr = DisplayFormat.replace(/%%D%%/g,	Calcage(secs,86400,100000));
    DisplayStr = DisplayStr.replace(/%%H%%/g,		Calcage(secs,3600,24));
    DisplayStr = DisplayStr.replace(/%%M%%/g,		Calcage(secs,60,60));
    DisplayStr = DisplayStr.replace(/%%S%%/g,		Calcage(secs,1,60));
    if(secs > 0)
    {
      document.getElementById(myDiv).innerHTML = DisplayStr;
      setTimeout("CountBack('" + myDiv + "'," + (secs-1) + ");", 990);
    }
    else
    {
      document.getElementById(myDiv).innerHTML = "Deal Closed";
    }
  }

</script>
