<script Language="JavaScript">
<!--
function show_new_card(){
var theForm = document.forms['new_customer_credit_card'];
if (theForm.new_card.checked)
{
  //document.getElementById('credit_card_entry').style.display = "block";
  Effect.BlindDown('credit_card_entry');
}
else{
  //document.getElementById('credit_card_entry').style.display = "none";
  Effect.BlindUp('credit_card_entry');
}
}
function validate_cc_form(cards){
var card=document.getElementById("card").value;
var theForm = document.forms['new_customer_credit_card'];
var dis=document.getElementById('credit_card_entry').style.display;
if(card!='yes'){
var cc=document.getElementById("customer_creditcard").value;
}
if (dis=='none'){
if ((card != 'yes') && (cc == '0')){
alert('Please choose a mode of payment');
return false;
}
else
{
theForm.submit();
}
}
else{
check_form_fields();
}
}
function check_form_fields(){
var theForm = document.forms['new_customer_credit_card'];
if (document.getElementById('customer_credit_card_first_name').value=="")
{
alert('Please enter a valid first name.');
return false;
}
if (document.getElementById('customer_credit_card_last_name').value=="")
{
alert('Please enter a valid last name.');
return false;
}
if (document.getElementById('customer_credit_card_credit_card_number').value=="")
{
alert('Please enter a valid 16 digit credit card number.');
return false;
}
if (document.getElementById('customer_credit_card_card_type').value=="")
{
alert('Please enter a valid credit card type.');
return false;
}
if (document.getElementById('customer_credit_card_cvv2').value=="")
{
alert('Please enter a valid cvv.');
return false;
}

if (document.getElementById('customer_credit_card_address1').value=="")
{
alert('Please enter a valid billing address.');
return false;
}
if (document.getElementById('customer_credit_card_city').value=="")
{
alert('Please enter a valid city');
return false;
}
if (document.getElementById('customer_credit_card_country').value=="")
{
alert('Please enter a valid country name.');
return false;
}
if (document.getElementById('customer_credit_card_zipcode').value=="")
{
alert('Please enter a valid zipcode.');
return false;
}
if (document.getElementById('customer_credit_card_phone').value=="")
{
alert('Please enter a valid phone number.');
return false;
}
theForm.submit();
}
</script>

<tr>
        <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13%" align="left"><img src="images/billing_information_header_text.jpg" width="350" height="55" /></td>
            <td width="87%" class="header_text">&nbsp;</td>
          </tr>
        </table></td>
      </tr>

      <tr>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="55%" valign="top">
              <% form_for @billing_information, :url=>{:controller => 'customers', :action =>'save_demand_deal_transaction_details'} do |f|-%>
              <%=hidden_field :customer_credit_card, :customer_id, :value => current_customer.id%>
              <%=hidden_field :customer_deal, :deal_id, :value => @deal.id%>
              <input type="hidden" name="return_to" value="/want_a_deal" />

              <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="42%" align="center" class="billing_text_header">Your Purchase Detail</td>
                <td width="1%">&nbsp;</td>
                <td width="57%" align="left" class="billing_text"><%=@deal.name %></td>
              </tr>
              <tr>
                <td colspan="3" id="error_msg">
                  <%= render :partial => "error_message" %>
                </td>
              </tr>
              <tr>
                <td><img src="<%=@deal.demand_deal_photo.url %>" width="222" height="179" /></td>
                <td>&nbsp;</td>
                <td valign="top">
                  <div id="purchase">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td colspan="5">&nbsp;</td>
                      </tr>
                      <tr>
                        <td width="29%" height="30" align="center" bgcolor="#b71415" class="billing_text1">Quantity</td>
                        <td width="6%" bgcolor="#b71415">&nbsp;</td>
                        <td width="33%" align="center" bgcolor="#b71415" class="billing_text1">Price</td>
                        <td width="6%" align="center" bgcolor="#b71415">&nbsp;</td>
                        <td width="26%" align="center" bgcolor="#b71415" class="billing_text1">Total</td>
                      </tr>
                      <tr>
                        <td height="30" align="center" bgcolor="#000000" class="billing_text1">
                          <%= @deal.number %>
                        </td>
                        <td align="center" bgcolor="#000000" class="billing_text1">X</td>
                        <td align="center" bgcolor="#000000" class="billing_text1">S$ <%= @deal.buy_value %></td>
                        <td align="center" bgcolor="#000000" class="billing_text1">=</td>
                        <td align="center" bgcolor="#000000" class="billing_text1" id="total">S$ <%= (@deal.buy_value.to_f*@deal.number.to_f).to_s %></td>
                      </tr>
                    </table>
                  </div>

                  <% if !@cards.blank? %>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="12" colspan="5"></td>
                    </tr>
                    <tr>
                      <td colspan="5"><select name="customer_creditcard" id="customer_creditcard" class="billing_text">
                          <option value="0">Select a card for this purchase</option>
                          <% for card in @cards %>
                          <option value="<%= card.id %>"><%=card.card_type%>-<%=card.credit_card_number%></option>
                          <% end %>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" class="billing_text">or Use New Card for this Purchase
                        <input type="checkbox" name="new_card" id="new_card" value="new_card" onclick="javascript: show_new_card();" /></td>
                    </tr>
                    <tr>
                      <td height="12" colspan="5" class="billing_text"></td>
                    </tr>
                    <tr>
                      <td colspan="5" align="center" class="billing_text">&nbsp;</td>
                    </tr>
                </table>
                  <% else %>
                  <%=hidden_field :new_card, :value => "new_card"%>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" id="credit_card_entry" style="display: <%=(@cards.blank?)? 'block' : 'none' %>;">
                    <tr>
                      <td width="26%" align="right" class="billing_text"> Card holder first name:</td>
                      <td width="29%" align="left"><input id="customer_credit_card_first_name" name="customer_credit_card[first_name]" type="text" class="billing_text" /></td>
                      <td width="20%" align="right" class="billing_text"> Billing address 1:</td>
                      <td width="25%" align="left"><input id="customer_credit_card_address1" name="customer_credit_card[address1]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text"> Card holder last name:</td>
                      <td align="left"><input id="customer_credit_card_last_name" name="customer_credit_card[last_name]" type="text" class="billing_text" /></td>
                      <td align="right" class="billing_text"> Billing address 2:</td>
                      <td align="left"><input id="customer_credit_card_address2" name="customer_credit_card[address2]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text">Card Number:</td>
                      <td align="left"><input id="customer_credit_card_credit_card_number" name="customer_credit_card[credit_card_number]" type="text" class="billing_text" /></td>
                      <td align="right" class="billing_text">City:</td>
                      <td align="left"><input id="customer_credit_card_city" name="customer_credit_card[city]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text">Card Type:</td>
                      <td align="left">
                        <select id="customer_credit_card_card_type" name="customer_credit_card[card_type]" class="billing_text">
                          <option value="mastercard">Mastercard</option>
                          <option value="visa">Visa</option>
                          <option value="amex">American Express</option>
                        </select>
                      </td>
                      <td align="right" class="billing_text">Country:</td>
                      <td align="left"><input id="customer_credit_card_country" name="customer_credit_card[country]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text"> Security code:</td>
                      <td align="left"><input id="customer_credit_card_cvv2" name="customer_credit_card[cvv2]" type="text" class="billing_text" /></td>
                      <td align="right" class="billing_text">Zip Code:</td>
                      <td align="left"><input id="customer_credit_card_zipcode" name="customer_credit_card[zipcode]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text"> Expiration date:</td>
                      <td align="left"><%=select_month(Date.today,:use_month_numbers => true) %> &nbsp;<%=select_year(Date.today, :start_year => 2020, :end_year => 2000)%></td>
                      <td align="right" class="billing_text">Phone:</td>
                      <td align="left"><input id="customer_credit_card_phone" name="customer_credit_card[phone]" type="text" class="billing_text" /></td>
                    </tr>
                    <tr>
                      <td align="right" class="billing_text">&nbsp;</td>
                      <td align="left">&nbsp;</td>
                      <td align="right" class="billing_text">&nbsp;</td>
                      <td align="left">&nbsp;</td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td colspan="3" align="center">
                  <span class="billing_text">
                    <%if @cards.blank?%>
                     <input id='card' value='yes' type='hidden'/>
                    <%else%>
                     <input id='card' value='no' type='hidden'/>
                    <%end%>
                     <a href="#" onclick="validate_cc_form();"><img src="/images/purchase_btn.png" border="0"/></a>
                    <a href="/offered_deals?deal=<%= @deal.customer_demand_deal_id %>"><img src="images/cancel_search.png" height="24" border="0" width="73"/></a>
                  </span>
                </td>
              </tr>
            </table>
            <% end -%>
            </td>
            <td width="1%">&nbsp;</td>
            <td width="41%" align="right" valign="top">
              <a href="/invite_friends">
                <img src="images/earn_money_banner.jpg" width="400" height="276" />
              </a>
            </td>
            <td width="2%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>