<script src="_include/js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="_include/css/jquery.roundabout.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="_include/css/featureCarousel.css" charset="utf-8" />
    <script src="_include/js/jquery.featureCarousel.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
            $(document).ready(function() {
                $("#featureCarousel").featureCarousel({
                    smallFeatureWidth:      .7,
                    smallFeatureHeight:		.7,
                    smallFeatureOffset:		40,
                    counterStyle:           0,
                    topPadding:             0,
                    sidePadding:            10,
                    carouselSpeed:          1400,
                    autoPlay:               1
                });
            });
     </script>
<script type="text/javascript">
function changeMyProfile(i) {
if (i == 1)
     {
        document.getElementById('available').style.display="block";
        document.getElementById('used').style.display="none";
        document.getElementById('expired').style.display="none";
        document.getElementById('all').style.display="none";

        document.getElementById("Img1").src="/images/available_black.jpg";
        document.getElementById("Img2").src="/images/used_red.jpg";
        document.getElementById("Img3").src="/images/expired_red.jpg";
        document.getElementById("Img4").src="/images/all_red.jpg";
    }
    else if (i == 2) {
        document.getElementById('available').style.display="none";
        document.getElementById('used').style.display="block";
        document.getElementById('expired').style.display="none";
        document.getElementById('all').style.display="none";

        document.getElementById("Img1").src="/images/available_red.jpg";
        document.getElementById("Img2").src="/images/used.jpg";
        document.getElementById("Img3").src="/images/expired_red.jpg";
        document.getElementById("Img4").src="/images/all_red.jpg";
    }
     else if (i == 3) {
        document.getElementById('available').style.display="none";
        document.getElementById('used').style.display="none";
        document.getElementById('expired').style.display="block";
        document.getElementById('all').style.display="none";

        document.getElementById("Img1").src="/images/available_red.jpg";
        document.getElementById("Img2").src="/images/used_red.jpg";
        document.getElementById("Img3").src="/images/expired.jpg";
        document.getElementById("Img4").src="/images/all_red.jpg";
    }
    else if (i == 4) {
        document.getElementById('available').style.display="none";
        document.getElementById('used').style.display="none";
        document.getElementById('expired').style.display="none";
        document.getElementById('all').style.display="block";

        document.getElementById("Img1").src="/images/available_red.jpg";
        document.getElementById("Img2").src="/images/used_red.jpg";
        document.getElementById("Img3").src="/images/expired_red.jpg";
        document.getElementById("Img4").src="/images/all_black.jpg";
    }
    }
</script>
<style type="text/css">
.mygift
{
background-image:url(/images/my_gifts_header.jpg);
background-repeat: no-repeat;
color:#222222;
padding:4px;
_padding:0px;
text-align:center;
border-bottom-left-radius: 6px;
border-top-right-radius:  6%;
border-top-left-radius:  6%;
border-bottom-right-radius: 6px;

-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-topleft: 6px;
}

th
{
background-color:#C11515;
border-collapse:collapse;
color:#ffffff;
height:30px;
}
hr {
	border: 0;
	color: #4d4d4d;
	background-color: #4d4d4d;
	height: 1px;
	width: 98%;
	text-align: left;
	margin-left:0;
}

</style>

<tr>
        <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="17%" align="left"><img src="images/my_keupons_header_text.jpg" width="220" height="55" /></td>
            <td width="83%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>
        <!--My Keupons section -->
        <!-- Un-comment to see Keupoint Deals
        <div class="slide slide-roundabout bg1">
                     <div class="containit ornament-right">
                        <div class="featureCarouselshadow">
                            <h1 class="mb4" style="color:#fff;">You got <%= current_customer.kupoints %> Keupoints</h1>
                            <p class="mb20" style="color:#fff;">You can redeem it for these deals.</p>                            
                            <div id="featureCarousel">

                            <% for deal in @keupoint_deals %>
                            	<% keup_deal = Deal.find(deal.id) %>
                                
                                <div class="feature">
                                  <a href="/keupoint_deal?id=<%=deal.id%>"><img alt="Keupoint Deal" src="<%=keup_deal.deal_photo.url %>" style="width: 420px; height: 270px;"/></a>
                                    <div>
                                        <p>
                                            <%= deal.name %>
                                        </p>
                                    </div>
                                </div>                                
                            <% end %>

                            </div>                          
                        </div>
                     </div>
                 </div>
                 -->
<br/>

       <table width="100%"><tr><td>
       <table><tr><td>
       <img src="/images/available_black.jpg" onclick="changeMyProfile(1)" style="cursor:pointer;" id="Img1"/>
        <img src="/images/used_red.jpg" onclick="changeMyProfile(2)" style="cursor:pointer;" id="Img2"/>
        <img src="/images/expired_red.jpg" onclick="changeMyProfile(3)" style="cursor:pointer;" id="Img3"/>
        <img src="/images/all_red.jpg" onclick="changeMyProfile(4)" style="cursor:pointer;" id="Img4"/>
        </td></tr>
       </table>
       <!-- If gift Section is enabled the provide width: 650px -->
       <div id="available"  style="border: 4px solid black; display: block; min-height: 150px; margin-bottom: 10px; margin-top: -8px; margin-left: 3px;">
          <table width="100%" cellpadding=0 cellspacing=0>
            <tr><th style="width: 400px;">Details</th><th>Purchased On</th><th>Expires On</th>
              <% if @deal_code_visibility == "1" %>
              <th>Deal Code</th>
              <% end %>
            </tr>
            <% for available in @my_keupons %>
              <% if available.expiry_date.to_i > Time.now.to_i && available.status == "available" %>
                <tr onclick="showCustomerDeal('popup_view_deal',<%= available.customer_deal_id %>);" style="cursor: pointer;"><td><%= available.name %></td><td align="center"><%=Time.at(available.purchase_date.to_i).strftime("%d-%m-%Y") %></td><td align="center"><%=Time.at(available.expiry_date.to_i).strftime("%d-%m-%Y") %></td>
                  <% if @deal_code_visibility == "1" %>
                  <td align="center"><%= available.deal_code %></td>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </table>
        </div>

         <div id="used" style="border: 4px solid black; display: none; min-height: 150px; margin-bottom: 10px; margin-top: -8px; margin-left: 3px;">
          <table width="100%" cellpadding=0 cellspacing=0>
            <tr><th>Details</th><th>Purchased On</th><th>Expires On</th></tr>
            <% for used in @my_keupons %>
              <% if used.status == "used" %>
               <tr><td><%= used.name %></td><td align="center"><%=Time.at(used.purchase_date.to_i).strftime("%d-%m-%Y") %></td><td align="center"><%=Time.at(used.expiry_date.to_i).strftime("%d-%m-%Y") %></td></tr>
              <% end %>
            <% end %>
          </table>
         </div>

         <div id="expired" style="border: 4px solid black; display: none; min-height: 150px; margin-bottom: 10px; margin-top: -8px; margin-left: 3px;">
          <table width="100%" cellpadding=0 cellspacing=0>
            <tr><th style="width: 400px;">Details</th><th>Purchased On</th><th>Expired On</th></tr>
            <% for expired in @my_keupons %>
              <% if expired.expiry_date.to_i <= Time.now.to_i || expired.status == "expired" %>
               <tr><td><%= expired.name %></td><td align="center"><%=Time.at(expired.purchase_date.to_i).strftime("%d-%m-%Y") %></td><td align="center"><%=Time.at(expired.expiry_date.to_i).strftime("%d-%m-%Y") %></td></tr>
              <% end %>
            <% end %>
          </table>
         </div>

         <div id="all" style="border: 4px solid black; display: none; min-height: 150px; margin-bottom: 10px; margin-top: -8px; margin-left: 3px;">
          <table width="100%" cellpadding=0 cellspacing=0>
            <tr><th style="width: 400px;">Details</th><th>Purchased On</th><th>Expiry Date</th><th>Status</th></tr>
            <% for all in @my_keupons %>
              <% if all.status != "new" %>
               <tr><td><%= all.name %></td><td align="center"><%=Time.at(all.purchase_date.to_i).strftime("%d-%m-%Y") %></td><td align="center"><%=Time.at(all.expiry_date.to_i).strftime("%d-%m-%Y") %></td><td align="center"><%= all.status %></td></tr>
              <% end %>
            <% end %>
          </table>
         </div>
         </td>
         <!-- Un-comment to see Gift Deals
         <td>
         <div id="mygifts" class="mygift" style="border: 2px solid black; display: block; min-height: 150px; margin-bottom: 10px; width: 280px; margin-left: 3px;">
           <table style="margin-top:40px;">
           <tr><td style="color:#22ACF4;font-weight:bold;">Get 70% off on any deal from Apple ltd.</td></tr>
           <tr><td style="color:#C3090A;font-weight:bold;float:right;cursor:pointer;">Go Check out the deals&nbsp;&nbsp;>></td></tr>
            </table>
             <hr/>
             <table>
           <tr><td style="color:#22ACF4;font-weight:bold;">Get 70% off on any deal from Apple ltd.</td></tr>
           <tr><td style="color:#C3090A;font-weight:bold;float:right;cursor:pointer;">Go Check out the deals&nbsp;&nbsp;>></td></tr>



           </table>

           </div>
         </td>
         -->
         </tr>
         </table>
        <!-- end -->
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

      <div id="popup_view_deal">
        <br/><%= render :partial => "customer_deal_info" %>
      </div>