<div class="myacc_bg">
    <div>
        <img src="/images/my_keuponsred.png" hspace="24" />
    </div>
	<% if !@my_keupons.blank? %>
	<% for my_keupon in @my_keupons %>
    <div class="mykeu_up">
        <div class="mykeu_left">
        	<img src="<%=my_keupon.deal_photo.url(:small)%>" />
        </div>
        <div class="mykeu_mid">
        	<%= my_keupon.status.capitalize %>
            <div style="font-size:22px;">
				<%= truncate(my_keupon.name, 85, "...") %>
            </div>
            <div style="font-size:12px; color:#AB0F14; padding:10px 0;">
				&nbsp;<%= Time.now >= Time.at(my_keupon.expiry_date.to_i) ? "Expired" : "Expires" %> on <%=Time.at(my_keupon.expiry_date.to_i).strftime("%d-%m-%Y") %>
            </div>
            <div style="font-size:29px; color:#231F20;">
                SGD <%= my_keupon.value %>
            </div>
        </div>
        <div class="mykeu_right">
            <a href="javascript:void(0);"><img src="/images/print.jpg" hspace="20" vspace="30" border="0" /></a><br/><br/>
        </div>
    </div>
    <div class="mykeu_line"></div>
    <% end %>
	<% else %>
		<div style="min-height:100px;">&nbsp;</div>
	<% end %>
</div>