<% @customer.password = @customer.password_confirmation = nil %>
<div><%= error_messages_for :customer %></div>
<% form_for :customer, :url => customers_path do |f| -%>

  <fieldset id="step_1">
    <legend>Step 1</legend>
    <table cellspacing="4" cellpadding="4">
      <tr>
        <td><label for="num_attendees">E-mail ID :</label></td><td><%= f.text_field :email , :size=>"25%"%></td>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Password :</label></td><td><%= f.password_field :password, :id=>"passwords", :size=>"25%"%></td>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Retype Password :</label></td><td><%= f.password_field :password_confirmation, :class=>'name_input',:size=>"25%" %></td>
      </tr>
      <tr>
        <td colspan="2"><a href="#" id="submit_step_1"><img src="/images/step2.png" border="0"/>  </a></td>
      </tr>
    </table>
  </fieldset>
  <fieldset id="step_2">
    <legend>Step 2</legend>
    <% fields_for :customer_profile do |p| %>
      <table><tr>
          <td> <label for="name_attendee_1">First name :</label></td><td><%= p.text_field :first_name, :size=>"20%"%></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Last Name :</label></td><td> <%= p.text_field :last_name, :size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Address 1 :</label></td><td><%= p.text_field :address1,:size=>"20%" %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Address 2 :</label></td><td> <%= p.text_field :address2,:size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Country :</label></td><td> <%= p.text_field :country,:size=>"20%" ,:id=> 'name_input_country' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Pin code :</label></td><td><%= p.text_field :zipcode,:size=>"20%" ,:id=> 'name_input_pin' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Contact Number :</label></td><td> <%= p.text_field :contact_number,:size=>"20%" ,:id=> 'name_input_cn' %></td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" id="submit_step_2"><img src="/images/step3.png" border="0"/> </a></td>
        </tr>
      </table>
    <% end %>
  </fieldset>
  <fieldset id="step_3">
    <legend>Step 3</legend>
    <label for="rock">
      Are you ready to rock?
    </label>
    <input type="checkbox" id="rock"></input>
    <%=image_submit_tag ("complete_registration_btn.png"), :id=>"submit_button", :class => 'push'%>
  </fieldset>

<% end %>