<script>
function check_tos(){
var tos =  document.getElementById("tos").checked;
if (tos == true)
{
document.getElementById("form").submit();
}
else
{
alert("Please put a tick mark on Terms and conditions");
return false;
}
}

</script>
<%if @signup_failed%>
<script>
$(function() {
    $.stepTwoComplete_one = "complete";
    $.stepTwoComplete_two = "complete";
    var all_complete = true;

 // Fade out steps 2 and 3 until ready
    $("#step_2").css({
        opacity: 1
    });
    $("#step_3").css({
        opacity: 1
    });
})
</script>
<%end%>
<% @customer.password = @customer.password_confirmation = nil %>
<br/><div style="color: red;"><%= error_messages_for :customer %><br/></div>
<% form_for :customer, :url => customers_path,:html => {:id=>'form'} do |f| -%>

  <fieldset id="step_1">
    <legend>Step 1</legend>
    <table cellspacing="4" cellpadding="4">
      <tr>
        <%if @friend.nil?%>
        <td><label for="num_attendees">Your Email :</label></td><td><%= f.text_field :email , :size=>"25%"%></td>
        <%else%>
        <td><label for="num_attendees">Your Email :</label></td><td><%= f.text_field :email , :size=>"25%",:disabled=>'disabled' %></td>
        <input type='hidden' name='customer[email]' value='<%=@customer.email%>'/>
        <input type='hidden' name='friend_id' value='<%=@friend.id if !@friend.nil?%>'/>
        <%end%>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Password :</label></td><td><%= f.password_field :password, :id=>"passwords", :size=>"25%"%></td>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Confirm Password :</label></td><td><%= f.password_field :password_confirmation, :class=>'name_input',:size=>"25%" %></td>
      </tr>
      <tr>
        <td colspan="2"><a href="#" id="submit_step_1"><img src="/images/step2.png" border="0"/>  </a></td>
      </tr>
    </table>
  </fieldset>
  <fieldset id="step_2">
    <legend>Step 2</legend>
    <label for="rock">Purchased items may be delivered to this registered mailing address</label><br/><br/>
    <%p @customer_profile%>
    <% fields_for :customer_profile do |p| %>
      <table><tr>
          <td> <label for="name_attendee_1">First name :</label></td><td><%= p.text_field :first_name, :size=>"20%"%></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Last Name :</label></td><td> <%= p.text_field :last_name, :size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Address 1 :</label></td><td><%= p.text_field :address1,:size=>"20%" %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Address 2 :</label></td><td> <%= p.text_field :address2,:size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Country :</label></td><td> <%= p.text_field :country,:size=>"20%" ,:id=> 'name_input_country' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Postal code :</label></td><td><%= p.text_field :zipcode,:size=>"20%" ,:id=> 'name_input_pin' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Mobile Number :</label></td><td> <%= p.text_field :contact_number,:size=>"20%" ,:id=> 'name_input_cn' %></td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" id="submit_step_2"><img src="/images/step3.png" border="0"/> </a></td>
        </tr>
      </table>
    <% end %>
  </fieldset>
  <fieldset id="step_3">
    <legend>Step 3</legend>
    <label for="rock">
    Are you ready for Super Bargains?
    <br/><input type="checkbox" id="esubscribe" name='esubscribe' value="1"></input>Tell me what you have by email so I won’t miss any latest Super Bargain deals!
    <br/><input type="checkbox" id="tos" name='tos'></input>
    <a href='/privacy' target='_blank'>I certify I am at least 18 years old and I have read & agree to the Terms and Conditions.</a></label>
    <a href="#" onclick="check_tos();">
      <img src="/images/complete_registration_btn.png" border="0"/>
    </a>
  </fieldset>

<% end %>

