<%if @signup_failed%>
<script>
$(function() {
    $.stepTwoComplete_one = "complete";
    $.stepTwoComplete_two = "complete";
    var all_complete = true;

 // Fade out steps 2 and 3 until ready
    $("#step_2").css({
        opacity: 1
    });
    $("#step_3").css({
        opacity: 1
    });
})
</script>
<%end%>
<% @customer.password = @customer.password_confirmation = nil %>
<br/><div style="color: red;"><%= error_messages_for :customer %><br/></div>
<% form_for :customer, :url => customers_path,:html => {:id=>'form'} do |f| -%>

  <fieldset id="step_1">
    <legend>Step 1</legend>
    <table cellspacing="4" cellpadding="4">
      <tr>
        <%if @friend.nil?%>
        <td><label for="num_attendees">E-mail ID :</label></td><td><%= f.text_field :email , :size=>"25%"%></td>
        <%else%>
        <td><label for="num_attendees">E-mail ID :</label></td><td><%= f.text_field :email , :size=>"25%",:disabled=>'disabled' %></td>
        <input type='hidden' name='customer[email]' value='<%=@customer.email%>'/>
        <input type='hidden' name='friend_id' value='<%=@friend.id if !@friend.nil?%>'/>
        <%end%>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Password :</label></td><td><%= f.password_field :password, :id=>"passwords", :size=>"25%"%></td>
      </tr>
      <tr>
        <td><label for="name_attendee_1">Confirm Password :</label></td><td><%= f.password_field :password_confirmation, :class=>'name_input',:size=>"25%" %></td>
      </tr>
      <tr>
        <td colspan="2"><a href="#" id="submit_step_1"><img src="/images/step2.png" border="0"/>  </a></td>
      </tr>
    </table>
  </fieldset>
  <fieldset id="step_2">
    <legend>Step 2</legend>
    <%p @customer_profile%>
    <% fields_for :customer_profile do |p| %>
      <table><tr>
          <td> <label for="name_attendee_1">First name :</label></td><td><%= p.text_field :first_name, :size=>"20%"%></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Last Name :</label></td><td> <%= p.text_field :last_name, :size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Address 1 :</label></td><td><%= p.text_field :address1,:size=>"20%" %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Address 2 :</label></td><td> <%= p.text_field :address2,:size=>"20%" %></td>
        </tr>
        <tr>
          <td><label for="name_attendee_1">Country :</label></td><td> <%= p.text_field :country,:size=>"20%" ,:id=> 'name_input_country' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Pin code :</label></td><td><%= p.text_field :zipcode,:size=>"20%" ,:id=> 'name_input_pin' %></td>
        </tr>
        <tr>
          <td> <label for="name_attendee_1">Contact Number :</label></td><td> <%= p.text_field :contact_number,:size=>"20%" ,:id=> 'name_input_cn' %></td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" id="submit_step_2"><img src="/images/step3.png" border="0"/> </a></td>
        </tr>
      </table>
    <% end %>
  </fieldset>
  <fieldset id="step_3">
    <legend>Step 3</legend>
    <label for="rock">
      Are you ready to rock?Go ahead and 
   <a href='#' onclick="document.getElementById('popup_center').style.display='block';">Agree to Terms and Conditions</a></label><input type="checkbox" id="tos" name='tos'></input>
    <%=image_tag ("complete_registration_btn.png",:onclick => 'check_tos();', :id=>"submit_button", :class => 'push')%>
  </fieldset>

<% end %>
<div id='popup_center' style="height: 472px; width: 504px; padding-left: 375px; display:none; margin-top: -29px;">
          <table class="popup" align="center" width="100%" cellspacing="1px" style="border:1px solid black;" BACKGROUND="/images/bg_white.jpg">
            <tr>
              <td align="right" class="popup"><a href="#" onclick="document.getElementById('popup_center').style.display='none';;" >X</a></td>
            </tr>
            <tr>
              <td align="left" class="popup">Here goes Sample TOS<i>Generates a form containing a single button that submits to the URL created by the set of options. This is the safest method to ensure links that cause changes to your data are not triggered by search bots or accelerators. If the HTML button does not work with your layout, you can also consider using the link_to method with the :method modifier as described in the link_to documentation.</i></td>
            </tr>
          </table>
</div>
<script>
function check_tos(){
var tos =  document.getElementById("tos").checked;
if (tos == true)
{
document.getElementById("form").submit();
}
else
{
alert("Please put a tick mark on Terms and conditions");
return false;
}
} 

</script>
