<div id="offered_deals">
   <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/img_size.jpg" style="margin-top:14px;margin-left:10px;"/></div>
           <div style="float: left; width: 510px; margin-top: 10px;height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:18px;margin-left:5px;">Silky Skin For just $20</font><br/>
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Buy it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "See it&nbsp;&nbsp;>>",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

       <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/img_size.jpg" style="margin-top:14px;margin-left:10px;"/></div>
           <div style="float: left; width: 510px; margin-top: 10px;height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:18px;margin-left:5px;">Silky Skin For just $20</font><br/>
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Buy it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "See it&nbsp;&nbsp;>>",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

       <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/img_size.jpg" style="margin-top:14px;margin-left:10px;"></div>
           <div style="float: left; width: 510px; margin-top: 10px;height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:18px;margin-left:5px;">Silky Skin For just $20</font><br/>
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
              <div style=" float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="5%"><%=link_to "Buy it",'#', {:style=>'color:#034D7C;'}%></td><td width="5%"><%=link_to "See it&nbsp;&nbsp;>>",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

       <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/img_size.jpg" style="margin-top:14px;margin-left:10px;"></div>
           <div style="float: left; width: 510px; margin-top: 10px;height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:18px;margin-left:5px;">Silky Skin For just $20</font><br/>
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Buy it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "See it&nbsp;&nbsp;>>",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

  </div>
  