<div id="offered_deals">
  <% for deal in @offerings
    cddb = CustomerDemandDealBidding.find(deal.id)
  %>
  <div  class="dealsoffered" style="width:650px;height:125px;">
          <div style="float: left;"><img src="<%= cddb.demand_deal_photo.url %>" style="margin-top:14px;margin-left:10px;width:100px;height:100px;"/></div>
           <div style="float: left; width: 510px; height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <span style="text-align:justify;color: #034D7C;float:left;font-weight:bold;font-size:16px;margin-left:5px;width: 500px;"><%= deal.name %></span>
                <span style="text-align:justify;float:left;margin-left:5px;height: 60px; width: 500px;"><%= deal.highlights %></span>
              <div style="float: right;width: 310px;">
                <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;" align="right">
                  <tr>
                    <% if deal.deal_id.blank? %>
                    <td align="right" width="10%">
                      <a href="#" onclick="showDemandDealOffer('popup_view_deal', '<%=cddb.id%>');" style="color: rgb(3, 77, 124);">See it</a>
                    </td>
                    <td align="right" width="10%">
                      <a href="/demand_deal_transaction_details?id=<%=cddb.id%>" style="color: rgb(3, 77, 124);">Buy it</a>
                    </td>
                    <% else %>
                    <td align="right" width="10%">
                      <a href="#" onclick="showDemandDealOffer('popup_view_deal', '<%=cddb.id%>');" style="color: #006600;">Bought this Deal</a>
                    </td>
                    <% end %>
                  </tr>
                </table>
              </div>
           </div>
       </div>
  <% end %>

  </div>
  <div id="popup_view_deal">
    <%= render :partial => "demand_deal_info" %>
  </div>