      <tr>
        <td height="55" background="images/header_red_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="13%" align="left"><img src="images/offered_deals_header_text.jpg" width="250" height="55" /></td>
            <td width="87%" class="header_text">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="2%">&nbsp;</td>
            <td width="52%" valign="top">

              <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="10" bgcolor="#000000" style="border:2px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td colspan="2" align="left"><img src="images/deal_demanded_text.jpg" width="258" height="31" /></td>
                    <td width="4%">&nbsp;</td>
                  </tr>
                  <tr>
                    <td width="4%" height="54">&nbsp;</td>
                    <td width="92%" align="left" class="open_deal_text1"><%= @demand_deal.description %></td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2" align="right"><img src="images/deals_offered_text.jpg" width="258" height="32" /></td>
                    </tr>
                </table></td>
              </tr>
              <tr>
                <td height="10">&nbsp;</td>
              </tr>

              <% for deal in @offerings
                cddb = CustomerDemandDealBidding.find(deal.id)
              %>
              <tr>
                <td height="150" background="images/offered_deal_red_bar.jpg" style="border:2px solid #000000">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="27%" align="center"><img src="<%= cddb.demand_deal_photo.url %>" width="108" height="89" /></td>
                    <td width="70%" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="50" colspan="2" align="left"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td height="30" background="images/offered_deal_red_bar_top.jpg" style="background-repeat:no-repeat"><table width="100%" border="0" cellspacing="1" cellpadding="0">
                                <tr>
                                  <td width="19%" height="29" align="center" class="open_deal_text1">Price</td>
                                  <td width="24%" align="center" class="open_deal_text1">Discount</td>
                                  <td width="25%" align="center" class="open_deal_text1">Savings</td>
                                  <td width="32%" align="center" class="open_deal_text1">Deal expires on</td>
                                </tr>
                                <tr>
                                  <td height="25" align="center" bgcolor="#FFFFFF" class="open_deal_text2">S$ <%= cddb.actual_value %></td>
                                  <td align="center" bgcolor="#FFFFFF" class="open_deal_text2"><%= cddb.discount %> %</td>
                                  <td align="center" bgcolor="#FFFFFF" class="open_deal_text2">S$ <%= cddb.savings %></td>
                                  <td align="center" bgcolor="#FFFFFF" class="open_deal_text2"><%= Time.at(cddb.deal_end_date).strftime("%d-%m-%Y") %></td>
                                </tr>
                              </table></td>
                            </tr>

                          </table></td>
                        </tr>
                        <tr>
                          <td colspan="2" align="left" class="open_deal_text_red"><%= deal.name %></td>
                        </tr>
                        <tr>
                          <td width="74%">&nbsp;</td>
                          <td width="26%" height="26" align="right" class="open_deal_text1" style="background-repeat:no-repeat">
                            <% if deal.deal_id.blank? %>
                            <a href="/demand_deal_transaction_details?id=<%=cddb.id%>"><img src="images/buyit_btn.png" width="74" height="29" border="0"/></a>
                            <% else %>
                            <img src="images/boughtit_btn.png" width="74" height="29" border="0"/>
                            <% end %>
                          </td>
                        </tr>
                    </table></td>
                    <td width="3%">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="10">&nbsp;</td>
              </tr>
              <% end %>
              <tr>
                <td height="10">&nbsp;</td>
              </tr>
            </table>

            </td>
            <td width="3%">&nbsp;</td>
            <td width="41%" valign="top"><%= render :partial => "hottest_deal_of_the_day" %></td>
            <td width="2%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td >&nbsp;</td>
      </tr>