    <script type="text/javascript" src="/javascripts/location_deal_slider/jquery-1-3-2-min.js"></script>
<script type="text/javascript">
  function avatar_down(){
    jquery("#avatar").slideDown()}
  function avatar_cancel(){
    jquery("#avatar").slideUp()}
  function email_down(){
    jquery("#email").slideDown()}
  function email_cancel(){
    jquery("#email").slideUp()}
   function name_down(){
    jquery("#name").slideDown()}
  function name_cancel(){
    jquery("#name").slideUp()}
</script>


<br/><br/><br/><br/><br/><br/><br/>
<div style="width:618px;text-align:left;">

  <table  style="font-size:14px;min-height:150px;" CELLPADDING="3" CELLSPACING="6">
           <% form_for @merchant_profile, :url => {:controller => 'merchants', :action => 'contact_details', :id=> @merchant.id} , :html => { :multipart => true } do |f| -%>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Email :</td>
      <td width="10%"><%=f.text_field 'email_address',:size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Address1 :</td>
      <td width="10%"><%=f.text_field 'address1', :size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Address2 :</td>
      <td width="10%"><%=f.text_field 'address2', :size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Country :</td>
      <td width="10%"><%=f.text_field 'country', :size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">zipcode :</td>
      <td width="10%"><%=f.text_field 'zipcode', :size=> '15'%>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Phone :</td>
      <td width="10%"><%=f.text_field 'contact_number', :size=> '15'%>
    </tr>
<tr>
    <td>        <%=image_submit_tag ("upload_btn.jpg")%>&nbsp;&nbsp;</td>
</tr>
          <% end -%>
        </div>
      </td>
    </tr>


    <tr><td></td><td></td></tr> 
  </table>


</div> 
