<table align=left  style="font-size: 14px; border-collapse: collapse; width:1000px; text-align: center;" CELLPADDING="4" CELLSPACING="0">
    <tr>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Title</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Starts On</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Closes On</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Expires On</th>
      <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Location</th>
       <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Discount</th>
       <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard">Number of Deals Bought</th>
       <th style="color:#ffffff;border-collapse:collapse;" class="discussionboard"></th>
    </tr>
    <% @deals.each do |deal| %>
      <tr>
        <td style="color:#000000;"><%= deal.name%></td>
        <td style="color:#000000;"><%= Time.at(deal.start_time.to_i).strftime("%Y-%m-%d")%></td>
        <td style="color:#000000;"><%= Time.at(deal.end_time.to_i).strftime("%Y-%m-%d")%></td>
        <td style="color:#000000;"><%= Time.at(deal.expiry_date.to_i).strftime("%Y-%m-%d")%></td>
        <td style="color:#000000;"><%= deal.address1%> <%= deal.address2%> <%= deal.state%> <%= deal.zipcode%></td>
        <td style="background-color: #C0C0C0;color:#000000;"><%= deal.discount%></td>
        <td style="color:#000000;"><%= deal.no_of_customers%></td>
        <td style="color:#000000;"><a href="#" onclick="showOpenDeal('popup_view_deal',<%= deal.id %>);" style="color: rgb(3, 77, 124);">View</a>&nbsp;&nbsp;<a href="#" onclick="editOpenDeal('popup_create_deal',<%= deal.id %>);" style="color: rgb(3, 77, 124);">Edit</a></td>
      </tr>
      <tr>
        <td style="color:#000000;" colspan="8"><hr/></td>
      </tr>
    <%end%>
  </table>