<%if @customer_deal.blank?%>
  <div style="text-align:center;background-color:grey;color:#fff;"><%=flash[:notice]%></div><br/>
<%elsif @customer_deal.status == 'expired'%>
  <div style="text-align:center;background-color:grey;color:#fff;">Code Expired</div><br/>
<%elsif @customer_deal.status == 'used'%>
  <div style="text-align:center;background-color:grey;color:#fff;"> Code already used </div><br/>
<%elsif @customer_deal.status  != 'available'%>
  <div style="text-align:center;background-color:grey;color:#fff;"> Code belongs to Other Merchant </div><br/>
<%end%>

<%= form_remote_tag(:url => {:controller => "merchant", :action => "verify_deal", :loading=>"Element.show('spinner');",:complete=>"Element.hide('spinner');"},:html => {:id => "verification_form", :style=> "padding:0;margin:0;"})%>
<table>
  <tr>
    <td>Enter Deal Code:</td>
    <td><input type="text" name="code" id="code" /></td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="button" name="Verify" value="Verify" onclick="$('verification_form').onsubmit();return false;"/><%= image_tag("/images/spinner.gif", :align => "absmiddle", :border => 0, :id => "spinner", :style =>"display: none;" ) %>
    </td>
  </tr>
</table>
</form>

<%if !@customer_deal.nil? and !@deals.nil?%>


  <h4>Details </h4>
  <% form_remote_tag :url => { :controller => 'merchant', :action => 'redeem_deal', :id =>@customer_deal},:html => {:id => "deal_form"} do -%>

    Deal Name : <%=@deals.name%><br/><br/>

    Deal Expiry Date : <%=@deals.expiry_date%><br/><br/>

    Customer Name : <%=@customer_deal.customer.customer_profile.first_name%> <%=@customer_deal.customer.customer_profile.last_name%><br/><br/>

    Customer Email : <%=@customer_deal.customer.email%> <br/><br/>

    <%if !@customer_deal.quantity.nil?  %>Quantity  : <%=@customer_deal.quantity%> &nbsp;&nbsp; <%=text_field_tag  'deal[quantity]'%><%end%> <br/><br/>


    <input type="button" name="Verify" value="Done" onclick="$('deal_form').onsubmit();return false;"/>
  <% end -%>

<%end%>