<style>
#offered_deals {
	float: left;
	min-height: 390px;
	width: 1000px;
}

.dealsoffered
{
background-image:url(/images/bg_module.jpg);
background-repeat: repeat;
color:#222222;
padding:4px;
_padding:0px;
text-align:center;
}
</style>

<script Language="JavaScript">
<!--
function form_validator(){
var theForm = document.forms['demand_deal_form'];
var i;
if (theForm.name.value == "" || theForm.name.value.length < 1)
{
alert("You must enter Deal Title.");
theForm.name.focus();
return (false);
}

if (theForm.actual_value.value == "" || theForm.actual_value.value.length < 1)
{
alert("You must enter Original Value.");
theForm.actual_value.focus();
return (false);
}

if (theForm.discount.selectedIndex == '0')
{
alert("Please select one of the Discount options.");
theForm.discount.focus();
return (false);
}

if (theForm.number.value == "" || theForm.number.value.length < 1)
{
alert("You must enter Quantity.");
theForm.number.focus();
return (false);
}

if (theForm.rules.value == "" || theForm.rules.value.length < 1)
{
alert("You must enter Rules.");
theForm.rules.focus();
return (false);
}

if (theForm.highlights.value == "" || theForm.highlights.value.length < 1)
{
alert("You must enter Highlights.");
theForm.highlights.focus();
return (false);
}

if (theForm.expiry_date.value == "" || theForm.expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.expiry_date.focus();
return (false);
}

return true;
}

//-->
</script>


<div id="offered_deals">
  <% for deal in @demand_deals %>
  <% if deal.bidding_status == "new" %>
  <div style="width: 650px; height: 125px;" class="dealsoffered">
         <div style="float: left;"><img style="margin-top: 14px; margin-left: 10px;" src="/images/bid_new.jpg"></div>
         <span id="bid<%=deal.id%>" style="font-size: 12px; margin-left: 350px; font-weight: bold;">Time left: 00days 07:38:26</span>

  <div style="float: left; width: 510px; height: 90px; color: rgb(21, 21, 21); font-family: helvetica; font-size: 16px;">
    <table min-height="150px" cellspacing="0" cellpadding="0" style="border: 0px none ; width:510px;font-weight: bold; color: rgb(3, 77, 124);">
          <tr><td colspan="3"> <span style="text-align: justify; float: left; margin-left: 5px;width: 500px;"><%= deal.description %></span> </td></tr>
          <tr>
              <td><span style="float: left;width: 350px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;">Expected Price: S$<%= deal.expected_value %>    Expected Quantity: <%= deal.number %> </span></td>
              <td><span style="float: left;width: 50px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a style="color: rgb(3, 77, 124);" onclick="showCreateDemandDeal('popup_create_deal',<%= deal.bid_id %>);" href="#">Bid it</span></a></td>
              <td><span style="float: left;width: 90px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a style="color: rgb(3, 77, 124);" href="#">Cancel it</span></a> </td>
          </tr>
   </table>
  </div>
</div>
  
  <% elsif deal.bidding_status == "closed" %>
  <div style="width: 650px; height: 125px;" class="dealsoffered">
         <div style="float: left;"><img style="margin-top: 14px; margin-left: 10px;" src="/images/bid_closed.jpg"></div>
         <span id="bid<%=deal.id%>" style="font-size: 12px; margin-left: 350px; font-weight: bold;">Bidding Closed</span>

  <div style="float: left; width: 510px; height: 90px; color: rgb(21, 21, 21); font-family: helvetica; font-size: 16px;">
    <table min-height="150px" cellspacing="0" cellpadding="0" style="border: 0px none ; width:510px;font-weight: bold; color: rgb(3, 77, 124);">
          <tr><td colspan="3"> <span style="text-align: justify; float: left; margin-left: 5px;width: 500px;"><%= deal.description %></span> </td></tr>
          <tr>
              <td><span style="float: left;width: 350px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;">Expected Price: S$<%= deal.expected_value %>    Expected Quantity: <%= deal.number %> </span></td>
              <td colspan="2"><span style="float: left;width: 90px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a href="#" onclick="showBidDemandDeal('popup_view_deal',<%= deal.bid_id %>);" style="color: rgb(3, 77, 124);">Show Bid</a></td>
          </tr>
   </table>
  </div>
  </div>
  <% end %>
  <% end %>

  </div>
  <div id="popup_create_deal">
    <%= render :partial => "view_create_demand_deal" %>
  </div>
  <div id="popup_view_deal">
    <%= render :partial => "demand_deal_info" %>
  </div>
  <script language="JavaScript">
<% for deal in @demand_deals %>
  <% if deal.bidding_status == "new" %>
  StartCountDown("bid<%=deal.id%>","<%= Time.at(deal.deadline.to_i).strftime('%m/%d/%Y %H:%M')%>" )
  <% end %>
<% end %>

  /*
  	Author:		Robert Hashemian (http://www.hashemian.com/)
  	Modified by:	Munsifali Rashid (http://www.munit.co.uk/)
  	Modified by:	Tilesh Khatri
  */

  function StartCountDown(myDiv,myTargetDate)
  {
    var dthen	= new Date(myTargetDate);
    var dnow	= new Date();
    ddiff		= new Date(dthen-dnow);
    gsecs		= Math.floor(ddiff.valueOf()/1000);
    CountBack(myDiv,gsecs);
  }

  function Calcage(secs, num1, num2)
  {
    s = ((Math.floor(secs/num1))%num2).toString();
    if (s.length < 2)
    {
      s = "0" + s;
    }
    return (s);
  }

  function CountBack(myDiv, secs)
  {
    var DisplayStr;
    var DisplayFormat = "Time left: %%D%%days %%H%%:%%M%%:%%S%%";
    DisplayStr = DisplayFormat.replace(/%%D%%/g,	Calcage(secs,86400,100000));
    DisplayStr = DisplayStr.replace(/%%H%%/g,		Calcage(secs,3600,24));
    DisplayStr = DisplayStr.replace(/%%M%%/g,		Calcage(secs,60,60));
    DisplayStr = DisplayStr.replace(/%%S%%/g,		Calcage(secs,1,60));
    if(secs > 0)
    {
      document.getElementById(myDiv).innerHTML = DisplayStr;
      setTimeout("CountBack('" + myDiv + "'," + (secs-1) + ");", 990);
    }
    else
    {
      document.getElementById(myDiv).innerHTML = "Bidding Closed";
    }
  }

</script>