<%= javascript_include_tag 'ckeditor' %>
<script Language="JavaScript">
<!--
function form_validator(){
var theForm = document.forms['demand_deal_form'];
var i;
if (theForm.name.value == "" || theForm.name.value.length < 1)
{
alert("You must enter Deal Title.");
theForm.name.focus();
return (false);
}

if (theForm.actual_value.value == "" || theForm.actual_value.value.length < 1)
{
alert("You must enter Original Value.");
theForm.actual_value.focus();
return (false);
}

if (theForm.discount.selectedIndex == '0')
{
alert("Please select one of the Discount options.");
theForm.discount.focus();
return (false);
}

if (theForm.number.value == "" || theForm.number.value.length < 1)
{
alert("You must enter Quantity.");
theForm.number.focus();
return (false);
}
theForm.rules.value = CKEDITOR.instances.rules.getData();
if (theForm.rules.value == "" || theForm.rules.value.length < 1)
{
alert("You must enter Rules.");
theForm.rules.focus();
return (false);
}
theForm.highlights.value = CKEDITOR.instances.highlights.getData();
if (theForm.highlights.value == "" || theForm.highlights.value.length < 1)
{
alert("You must enter Highlights.");
theForm.highlights.focus();
return (false);
}

if (theForm.expiry_date.value == "" || theForm.expiry_date.value.length < 1)
{
alert("You must enter Expiry Date.");
theForm.expiry_date.focus();
return (false);
}

return true;
}

//-->
</script>

<tr>
        <td height="36" background="/images/header_gray_bg.jpg"><img src="/images/on_demand_deals_text.jpg" width="238" height="36" /></td>
      </tr>
      <tr>
        <td >
  <%
  i = 0
  deal = nil
  deal1 = nil
  until i >= @demand_deals.length
    deal = @demand_deals[i]
    deal1 = (@demand_deals[i+1].blank?)? nil : @demand_deals[i+1]
  %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="48%" valign="top" bgcolor="#f7f7f7" style="border:1px solid #CCCCCC;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%">&nbsp;</td>
                <td width="28%" height="26" align="center" background="/images/red_btn_bg.jpg" style="background-repeat:no-repeat;"><a href="#" class="deals_white_link"><%= deal.bidding_status.camelize %></a></td>
                <td width="29%">&nbsp;</td>
                <td width="39%" align="center" bgcolor="#000000" class="deals_content1" id="bid<%=deal.id%>"></td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="30" align="center" class="deals_content_red_bold">Expected Price: S$ <%= deal.expected_value %> </td>
                <td>&nbsp;</td>
                <td align="center" class="deals_content_red_bold">Expected Quantity: <%= deal.number %></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="50" colspan="3" align="left" class="deals_content"><%= deal.description %></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="30">&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center"><a href="#"><img src="/images/cancel_btn.jpg" width="62" height="24" border="0" /></a>
                  <% if deal.bidding_status == "new" %>
                  <a onclick="showCreateDemandDeal('popup_create_deal',<%= deal.bid_id %>);" href="#"><img src="images/bidit_btn.jpg" width="62" height="24" border="0"/></a>
                  <% elsif deal.bidding_status == "closed" %>
                  <a  onclick="showBidDemandDeal('popup_view_deal',<%= deal.bid_id %>);" href="#"><img src="images/showbid.jpg" width="62" height="24" border="0"/></a>
                  <% end %>
                </td>
                <td>&nbsp;</td>
              </tr>

            </table></td>
  
            <td width="1%">&nbsp;</td>
            <td width="48%" valign="top" bgcolor="#f7f7f7" style="border:1px solid #CCCCCC;">
              <% if !deal1.blank? %>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="2%">&nbsp;</td>
                <td width="28%" height="26" align="center" background="/images/red_btn_bg.jpg" style="background-repeat:no-repeat;"><a href="#" class="deals_white_link"><%= deal1.bidding_status.camelize %></a></td>
                <td width="29%">&nbsp;</td>
                <td width="39%" align="center" bgcolor="#000000" class="deals_content1" id="bid<%=deal1.id%>">Bidding Closed</td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="30" align="center" class="deals_content_red_bold">Expected Price: S$ <%= deal1.expected_value %> </td>
                <td>&nbsp;</td>
                <td align="center" class="deals_content_red_bold">Expected Quantity: <%= deal1.number %></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="50" colspan="3" align="left" class="deals_content"><%= deal1.description %></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="30">&nbsp;</td>
                <td>&nbsp;</td>
                <td align="center"><a href="#"><img src="/images/cancel_btn.jpg" width="62" height="24" border="0" /></a>
                  <% if deal1.bidding_status == "new" %>
                  <a onclick="showCreateDemandDeal('popup_create_deal',<%= deal1.bid_id %>);" href="#"><img src="images/bidit_btn.jpg" width="62" height="24" border="0"/></a>
                  <% elsif deal1.bidding_status == "closed" %>
                  <a  onclick="showBidDemandDeal('popup_view_deal',<%= deal1.bid_id %>);" href="#"><img src="images/showbid.jpg" width="62" height="24" border="0"/></a>
                  <% end %>
                </td>
                <td>&nbsp;</td>
              </tr>

            </table>
              <% end %>
            </td>
            <td width="1%">&nbsp;</td>
          </tr>
        </table>
  <%
  i+=2
  end %>

        </td>
      </tr>
<tr>
        <td> <div id="popup_create_deal">
    <br/><%= render :partial => "view_create_demand_deal" %>
  </div>
  <div id="popup_view_deal">
    <br/><%= render :partial => "demand_deal_info" %>
  </div></td>
      </tr>


  

<!--
<div id="offered_deals">
  <% for deal in @demand_deals %>
  <% if deal.bidding_status == "new" %>
  <div style="width: 650px; height: 125px;" class="dealsoffered">
         <div style="float: left;"><img style="margin-top: 14px; margin-left: 10px;" src="/images/bid_new.jpg"></div>
         <span id="bid<%=deal.id%>" style="font-size: 12px; margin-left: 350px; font-weight: bold;">Time left: 00days 07:38:26</span>

  <div style="float: left; width: 510px; height: 90px; color: rgb(21, 21, 21); font-family: helvetica; font-size: 16px;">
    <table min-height="150px" cellspacing="0" cellpadding="0" style="border: 0px none ; width:510px;font-weight: bold; color: rgb(3, 77, 124);">
          <tr><td colspan="3"> <span style="text-align: justify; float: left; margin-left: 5px;width: 500px;"><%= deal.description %></span> </td></tr>
          <tr>
              <td><span style="float: left;width: 350px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;">Expected Price: S$<%= deal.expected_value %>    Expected Quantity: <%= deal.number %> </span></td>
              <td><span style="float: left;width: 50px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a style="color: rgb(3, 77, 124);" onclick="showCreateDemandDeal('popup_create_deal',<%= deal.bid_id %>);" href="#">Bid it</span></a></td>
              <td><span style="float: left;width: 90px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a style="color: rgb(3, 77, 124);" href="#">Cancel it</span></a> </td>
          </tr>
   </table>
  </div>
</div>

  <% elsif deal.bidding_status == "closed" %>
  <div style="width: 650px; height: 125px;" class="dealsoffered">
         <div style="float: left;"><img style="margin-top: 14px; margin-left: 10px;" src="/images/bid_closed.jpg"></div>
         <span id="bid<%=deal.id%>" style="font-size: 12px; margin-left: 350px; font-weight: bold;">Bidding Closed</span>

  <div style="float: left; width: 510px; height: 90px; color: rgb(21, 21, 21); font-family: helvetica; font-size: 16px;">
    <table min-height="150px" cellspacing="0" cellpadding="0" style="border: 0px none ; width:510px;font-weight: bold; color: rgb(3, 77, 124);">
          <tr><td colspan="3"> <span style="text-align: justify; float: left; margin-left: 5px;width: 500px;"><%#= deal.description %></span> </td></tr>
          <tr>
              <td><span style="float: left;width: 350px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;">Expected Price: S$<%= deal.expected_value %>    Expected Quantity: <%= deal.number %> </span></td>
              <td colspan="2"><span style="float: left;width: 90px; font-weight: bold; font-size: 13px; color: rgb(3, 77, 124); margin-left: 5px;"><a href="#" onclick="showBidDemandDeal('popup_view_deal',<%= deal.bid_id %>);" style="color: rgb(3, 77, 124);">Show Bid</a></td>
          </tr>
   </table>
  </div>
  </div>
  <% end %>
  <% end %>

  </div>
<div id="popup_create_deal">
    <br/><%= render :partial => "view_create_demand_deal" %>
  </div>
  <div id="popup_view_deal">
    <br/><%= render :partial => "demand_deal_info" %>
  </div>

-->
      
      
  <script language="JavaScript">
<% for deal in @demand_deals %>
  <% if deal.bidding_status == "new" %>
  StartCountDown("bid<%=deal.id%>","<%= Time.at(deal.deadline.to_i).strftime('%m/%d/%Y %H:%M')%>" )
  <% end %>
<% end %>

  /*
  	Author:		Robert Hashemian (http://www.hashemian.com/)
  	Modified by:	Munsifali Rashid (http://www.munit.co.uk/)
  	Modified by:	Tilesh Khatri
  */

  function StartCountDown(myDiv,myTargetDate)
  {
    var dthen	= new Date(myTargetDate);
    var dnow	= new Date();
    ddiff		= new Date(dthen-dnow);
    gsecs		= Math.floor(ddiff.valueOf()/1000);
    CountBack(myDiv,gsecs);
  }

  function Calcage(secs, num1, num2)
  {
    s = ((Math.floor(secs/num1))%num2).toString();
    if (s.length < 2)
    {
      s = "0" + s;
    }
    return (s);
  }

  function CountBack(myDiv, secs)
  {
    var DisplayStr;
    var DisplayFormat = "Time left: %%D%%days %%H%%:%%M%%:%%S%%";
    DisplayStr = DisplayFormat.replace(/%%D%%/g,	Calcage(secs,86400,100000));
    DisplayStr = DisplayStr.replace(/%%H%%/g,		Calcage(secs,3600,24));
    DisplayStr = DisplayStr.replace(/%%M%%/g,		Calcage(secs,60,60));
    DisplayStr = DisplayStr.replace(/%%S%%/g,		Calcage(secs,1,60));
    if(secs > 0)
    {
      document.getElementById(myDiv).innerHTML = DisplayStr;
      setTimeout("CountBack('" + myDiv + "'," + (secs-1) + ");", 990);
    }
    else
    {
      document.getElementById(myDiv).innerHTML = "Bidding Closed";
    }
  }

</script>




