<style>
#offered_deals {
	float: left;
	min-height: 390px;
	width: 1000px;
}

.dealsoffered
{
background-image:url(/images/bg_module.jpg);
background-repeat: repeat;
color:#222222;
padding:4px;
_padding:0px;
text-align:center;
}
</style>


<div id="offered_deals">
   <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/new.jpg" style="margin-top:14px;margin-left:10px;"/></div>
          <font color="black" style="font-size:12px;margin-left:350px;">Time Left</font>
           <div style="float: left; width: 510px; height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:13px;margin-left:5px;">Price : &nbsp;&nbsp; Quantity : </font><br/>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Bid it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "Cancel it",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

   <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/bid_expired.jpg" style="margin-top:14px;margin-left:10px;"/></div>
          <font color="black" style="font-size:12px;margin-left:350px;">Time Left</font>
           <div style="float: left; width: 510px; height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:13px;margin-left:5px;">Price : &nbsp;&nbsp; Quantity : </font><br/>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Bid it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "Cancel it",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

   <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/last_day.jpg" style="margin-top:14px;margin-left:10px;"/></div>
          <font color="black" style="font-size:12px;margin-left:350px;">Time Left</font>
           <div style="float: left; width: 510px; height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:13px;margin-left:5px;">Price : &nbsp;&nbsp; Quantity : </font><br/>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Bid it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "Cancel it",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

   <div  class="dealsoffered" style="width:650px;height:138px;">
          <div style="float: left;"><img src="/images/bide_closed.jpg" style="margin-top:14px;margin-left:10px;"/></div>
          <font color="black" style="font-size:12px;margin-left:350px;">Time Left</font>
           <div style="float: left; width: 510px; height:90px;color:#151515;font-family:helvetica;font-size:16px;">
                <font style="text-align:justify;float:left;margin-left:5px;"> All KidPic Members can upload Great Photos for Free. You can also enter any photo(s) into our monthly child and baby contest. You never know when you can get spotted. Get Started.</font>
                <font color="#034D7C" style="float:left;font-weight:bold;font-size:13px;margin-left:5px;">Price : &nbsp;&nbsp; Quantity : </font><br/>
              <div style="float: right;width: 310px;margin-top:10px; ">
                   <table style="border:0px;width: 210px;font-weight:bold;color:#034D7C;"><tr><td width="10%"><%=link_to "Bid it",'#', {:style=>'color:#034D7C;'}%></td><td width="10%"><%=link_to "Cancel it",'#', {:style=>'color:#034D7C;'}%></td></tr>
                   </table>
              </div>
           </div>
       </div>

    
  </div>
  