<tr>
        <td height="36" background="/images/header_gray_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" align="left"><img src="/images/new_deal_text.jpg" width="132" height="36" /></td>
            <td width="50%" align="left">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <% if !@new_deal.blank? %>
            <td width="48%" height="180" valign="top" background="/images/deal_bg.jpg" style="border:1px solid #CCCCCC;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>
                <td width="43%" align="center"><img src="<%= @new_deal.deal_photo.url %>" width="184" height="148" /></td>
                <td colspan="2"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="55" align="left" class="deals_content"><%= @new_deal.name %></td>
                  </tr>
                  <tr>
                    <td height="66" valign="top" background="/images/price_bg.jpg" style="background-repeat:no-repeat;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="46%" height="30" align="center" class="deals_content2">Price Offered</td>
                        <td width="54%" align="center" class="deals_content2">Discount Offered</td>
                        </tr>
                      <tr>
                        <td height="33" align="center" class="deals_content1">S$<%= @new_deal.value %></td>
                        <td align="center" class="deals_content1">Min <%= @discounts[0] %>% - Max <%= @discounts[1] %>%</td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td height="25" align="left" class="deals_content_red_bold">Deal Expires on: <%= Time.at(@new_deal.expiry_date.to_i).strftime("%d-%m-%Y")%></td>
                  </tr>
                </table></td>
                <td width="2%">&nbsp;</td>
              </tr>
              <tr>
                <td align="center">&nbsp;</td>
                <td width="30%">&nbsp;</td>
                <td width="25%">&nbsp;</td>
                <!--
                <td width="25%" height="23" align="center" background="/images/creat_new_deal_bg.jpg"><a href="/deals/index" class="deals_white_link">Create New Deal</a></td>
                -->
                <td>&nbsp;</td>
              </tr>
            </table>
            </td>
            <% end %>
            <td width="1%">&nbsp;</td>
            <td width="48%" height="180" align="center" valign="top" style="border:1px solid #CCCCCC;"><a href="/redeem_deals"><img src="/images/redeem_deals.jpg" width="350" height="203" border="0" /></a></td>
            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <% if !@new_deal.blank? %>
      <tr>
        <td height="36" background="/images/header_gray_bg.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="50%" align="left"><img src="/images/all_deal_text.jpg" width="180" height="36" /></td>
            <td width="50%" align="left">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          
          <tr>
            <td width="2%">&nbsp;</td>
            <td width="96%" height="180" valign="top" background="/images/deal_bg.jpg" style="border:1px solid #CCCCCC;">
              <%if @deal_discounts.length <= 3 %>
                  <table align="center" cellpadding="15"><tr>
                      <% for dd in @deal_discounts
                        graph = dd[1]
                        deal = @deals[dd[0]]
                        deal_photo = Deal.find(deal.id)
                      %>
                        <td>
                          <a href="/" ><img src="<%= deal_photo.deal_photo.url %>" width="200" height="140" border="0" alt="Project Title 1" /></a></td>
                      <%end%></tr>
                  </table>
                <%else%>
                  <div id="wrapper">
                    <div class="slider-frame">
                      <div class="sliderImagesmerchant">
                        <ul>
                          <% for dd in @deal_discounts
                            graph = dd[1]
                            deal = @deals[dd[0]]
                            deal_photo = Deal.find(deal.id)
                          %>
                            <li>
                              <a href="/" ><img src="<%= deal_photo.deal_photo.url %>" width="200" height="140" alt="Project Title 1" /></a></li>
                          <%end%>
                        </ul>
                      </div>
                    </div>
                    <div class="arrow-but">
                      <a href="#" class="prev"><img src="./images/left_arrow_btn.jpg" width="19" height="34" border="0" /></a>
                      <a href="#" class="next"><img src="./images/right_arrow_btn.jpg" width="19" height="34" border="0"/></a>
                    </div>
                  </div>
                <%end%>

            </td>
            <td width="2%">&nbsp;</td>
          </tr>          
        </table></td>
      </tr>
      <% end %>