<%#= javascript_include_tag :defaults%>
<%#= calendar_date_select_includes %>
<%#= calendar_date_select_includes "red" %>
<!-- <link href="/stylesheets/calendar/red/style.css" rel="stylesheet" type="text/css" /> -->

<script type="text/javascript" language="javascript">
  function validtae(chk)
  {
    var style = document.getElementById("location_address").style
    //if (style.visibility == "hidden")
     if(!(document.getElementById('chk1').checked))
      style.display = "block";
    else
      style.display = "none";
  }
</script>
<br/>
<div>
  <a href="#" onclick="new Ajax.Request('/merchant/new_location_deal', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('f7451406a5f3527c920b15eb7f63840280305729')}); return false;">Create New location deal </a>
</div>
<br/>

<div id="location_deal">
  <%if !@location_deals.blank?%>
    <table>
      <thead>
        <tr>
          <th>Deal Name</th>
          <th>Value</th>
          <th>Start Date</th>
          <th>Expiry Date</th>
          <th>Address</th>
<th>Country</th>
        </tr>
      </thead>
      <tbody>
        <% for merchant in @location_deals %>
          <tr>
            <td><%= merchant.deal.name %></td>
            <td><%= merchant.deal.value %></td>
            <td><%= merchant.deal.start_date%></td>
            <td><%= merchant.deal.expiry_date %></td>
  <td><%= merchant.deal.deal_location_detail.address1 %><%= merchant.deal.deal_location_detail.address2 %></td>
  <td><%= merchant.deal.deal_location_detail.city %></td>
          
          </tr>
        <% end %>
      </tbody>
    </table>
  <%else%>
    <h4>No location deals as of now</h4>
  <%end%>
</div>
