
  <tr>
        <td ><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="1%">&nbsp;</td>
            <td width="100%" height="180" valign="top" style="border:1px solid #CCCCCC;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="8" colspan="4" align="center"></td>
                </tr>
              <tr>

                <td colspan="2">






  <table  style="font-size:14px;min-height:150px;" CELLPADDING="3" CELLSPACING="6">
           <% form_for @company, :url => {:controller => 'merchants', :action => 'my_company'} , :html => { :multipart => true } do |f| -%>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Name:</td>
      <td width="10%"><%=f.text_field 'name',:size=> '15'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Address1 :</td>
      <td width="10%"><%=f.text_field 'address1', :size=> '15'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Address2 :</td>
      <td width="10%"><%=f.text_field 'address2', :size=> '15'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">City :</td>
      <td width="10%"><%=f.text_field 'city', :size=> '15'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">zipcode :</td>
      <td width="10%"><%=f.text_field 'zipcode', :size=> '15'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Company Logo :</td>
      <td>
       <%if @company.company_photo.nil?%>
          <img src="/images/profile_pic.jpg" border="0px" />
        <%else%>
          <%=image_tag (@company.company_photo.url(:small))%>
        <%end%>
      <%=f.file_field 'company_photo'%></td>
    </tr>
    <tr>
      <td width="5%"> </td>
      <td width="5%" style="color:#000000;">Details:</td>
      <td width="10%"><%=f.text_area 'detail', :size=> '25'%></td>
    </tr>
 <tr>
            <td width="5%"> </td>
            <td width="15%"> </td>
            <td width="35%" colspan="2">
              <br/><%=image_submit_tag ("upload_btn.jpg"), :onclick => "return Validate();"%><%=link_to image_tag("cancel.jpg", :border=>0),"/index", {:style=>"padding-left:30px;"}%>
            </td>
          </tr>
          <% end -%>





  </table>






                </td>
                <td width="2%">&nbsp;</td>
              </tr>

            </table></td>
            <td width="1%">&nbsp;</td>

            <td width="1%">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
     




 