
<% form_for @merchant_profile, :url => {:controller => 'merchants', :action => 'merchant_profile_update'} , :html => { :multipart => true } do |f| -%>
<%#=hidden_field_tag 'merchant_profile', :value => @merchant_profile.id%>
<%=hidden_field :merchant_profile_id, :merchant_profile_id, :value => @merchant_profile.id%>
  <tr>
    <td height="36" align="left" background="/images/header_gray_bg.jpg"><img src="/images/new_deal_text.jpg" width="132" height="36" /></td>
  </tr>
  <tr>
    <td>
      <%= render :partial => "profile" , :locals => { :f => f } %>
    </td>
  </tr>
  <tr>
    <td align="center">&nbsp;</td>
  </tr>

  <tr>
    <td align="center">
      <%= render :partial => "my_account" , :locals => { :f => f } %>
    </td>
  <tr>

    <td align="center"> <br/><%=image_submit_tag ("upload_btn.jpg"), :onclick => "return Validate();"%><%=link_to image_tag("cancel.jpg", :border=>0),"/index", {:style=>"padding-left:30px;"}%> </td>
  </tr>
  </tr>

<% end %>








































