

 <div style="width:608px;height:300px;align:left;">

    
    <div><%= error_messages_for :merchant_profile %></div>
    <% form_for :merchant, :url => { :action => 'create'} do |f| -%>
   <table align=left  style="font-family:arial;font-size:14px;" CELLPADDING="3" CELLSPACING="6">
      <tr>
        <td width="5%"> </td>
        <td width="15%" style="color:#000000;"><h3>Registration</h3></td>
        <td width="30%"><%#= f.text_field :login, :size=>"25%"  %> </td>
      </tr>
 <% fields_for :merchant_profile do |p| %>
        <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Email:</td>
	<td width="30%"><%= p.text_field :email_address, :size=>"25%"  %> </td>
   </tr>
   <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">First Name :</td>
	<td width="30%"><%= p.text_field :first_name, :size=>"25%"%></td>
   </tr>
   <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Last Name :</td>
	<td width="30%"><%= p.text_field :last_name, :size=>"25%" %>
    </td>
   </tr>
      <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Contact Number :</td>
	<td width="30%"><%= p.text_field :contact_number, :size=>"25%" %>
    </td>
   </tr>
 
<% end %>
 
   <% fields_for :company do |c| %>
   <tr>
       
	<td width="5%"> </td>
	<td width="20%" style="color:#000000;"><h4>Company Information</h4></td>
	<td width="30%"><%#= c.text_field :name,:size=>"25%" %></td>
   </tr
   <tr>
      <td width="5%"> </td>
	<td width="15%" style="color:#000000;">Company Name :</td>
	<td width="30%"><%= c.text_field :name,:size=>"25%" %></td>
   </tr>
    <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Company URl :</td>
	<td width="30%"><%= c.text_field :website,:size=>"25%" %></td>
   </tr>
    <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Address1 :</td>
	<td width="30%"><%= c.text_field :address1,:size=>"25%" %></td>
   </tr>
    <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Address2 :</td>
	<td width="30%"><%= c.text_field :address2,:size=>"25%" %></td>
   </tr>
     <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">City :</td>
	<td width="30%"><%=c.text_field :city , :onBlur => "IsNumeric_pin(this.value)",:size=>"25%" %></td>
   </tr>
     <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">State :</td>
	<td width="30%"><%=c.text_field :state , :onBlur => "IsNumeric_pin(this.value)",:size=>"25%" %></td>
   </tr>
    <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Country :</td>
	<td width="30%"><%=c.text_field :zipcode , :onBlur => "IsNumeric_pin(this.value)",:size=>"25%" %></td>
   </tr>
    <tr>
	<td width="5%"> </td>
	<td width="15%" style="color:#000000;">Zipcode :</td>
	<td width="30%"><%=c.text_field :zipcode , :onBlur => "IsNumeric_pin(this.value)",:size=>"25%" %></td>
   </tr>
 
  <!-- <tr>
	<td width="5%"> </td>
	<td width="30%" style="color:#000000;"><b>Mobile No:</b></td>
	<td width="55%"><input type="text" name="moblie" size="28%"  style="background-color: #F5F5F5;"/></td>
   </tr> -->

   
 
  <% end %>
   <tr>
 	<td width="5%"> </td>
  	<td width="15%"> </td>
	 	<td width="35%" colspan="2">
                  <br/><%=image_submit_tag ("register.jpg"), :onclick => "return Validate();"%><%=link_to image_tag("cancel.jpg", :border=>0),"/", {:style=>"padding-left:30px;"}%>
                  </td>
	</tr>
	<tr><td></td><td></td></tr> <% end -%>
   </table>


   </div>































































