<%=render :partial=>'/customer_mailer/top'%>   
      <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="6">
          <tbody> 
          <tr>
            <td colspan="2" bgcolor="#eceded"><span style='font-family:Georgia,"Times New Roman",Times,serif;font-size:12px;color:#000000;text-decoration:none;'>Dear <strong>Admin,</strong><br>
<br/><%= @merchant_profile.first_name.camelize %> has registered his firm with us to provide his Deals.<br/>
                   Firm: <%=@merchant_company.name %>.<br/><br/>We need to get back to him after our verification process within 5 days.<br/><br/>
                   <a href="<%= $server_name %>/admins/new_merchants">Click here to Validate this Merchant</a>
 <br><br>Thank You,<br>Keupons.com</span></td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
     
<%=render :partial=>'/customer_mailer/bottom'%>   
 
