<div style="width:608px;height:400px;text-align:left;">  
  <% form_for @deal, :url => { :action => "create" } , :html => { :multipart => true }  do |f| %>
    <%=hidden_field :deal, :merchant_id, :value => current_merchant.id%>
    <input type="hidden" name="start_time" id="start_time" value="<%= params[:date] %>" />
    <table align=left  style="font-size:14px;" CELLPADDING="3" CELLSPACING="6">
      <tr>
        <td> </td>
        <td style="color:#000000;">Deal Title:</td>
        <td><%= f.text_field :name, :size=>"25%"  %> </td>
      </tr>      
      <tr>
        <td> </td>
        <td style="color:#000000;">Original Value:</td>
        <td><%= f.text_field :value, :size=>"25%",:onchange =>"discount()"  %> </td>
      </tr>
    </table>
    <div id="deal_discounts">
      <%= render :partial => "deal_discounts" %>
</div>
    <table align=left  style="font-size:14px;" CELLPADDING="3" CELLSPACING="6">
      <tr>
        <td> </td>
        <td style="color:#000000;">Rules of the deal:</td>
        <td><%= f.text_area :rules, :size=>"30X15"  %> </td>
      </tr>
      <tr>
        <td> </td>
        <td style="color:#000000;">Highlights of the deal:</td>
        <td><%= f.text_area :highlights, :size=>"30x5"  %> </td>
      </tr>
      <tr>
        <td> </td>
        <td style="color:#000000;">Expiry Date:</td>
        <td><input id="deal_expiry_date" name="deal[expiry_date]" size="25%" type="text" /> <img alt="Calendar" class="calendar_date_select_popup_icon" onclick="new CalendarDateSelect( $(this).previous(), {year_range:100} );" src="/images/calendar_date_select/calendar.gif?1272281657" style="border: 0px none ; cursor: pointer;"/></td>
      </tr>
      <tr>
        <td> </td>
        <td style="color:#000000;">Deal Photo:</td>
        <td><%= f.file_field :deal_photo, :size=>"25%" %> </td>
      </tr>      
      <tr>
        <td> </td>        
        <td colspan="2">
          <br/><%=image_submit_tag ("register.jpg"), :onclick => "return form_validator();"%>

          <a href="#" onclick="hideElt('popup_create_deal');" style="padding-left: 30px;"><img alt="Cancel" src="/images/cancel.jpg" border="0" /></a>
        </td>
      </tr>
<% end %>
  </table>    
</div>

