
<div style="width:608px;height:400px;text-align:left;">
  <div align="right" style="width: 548px;height: 0px;margin-top: 8px;"><a href="#" onclick="hideElt('popup_create_deal_<%=deal_id%>');" ><img src="/images/close_btn.png" height="33" width="33" border="0" style="margin-top: -17px;"/></a></div>
  <% dd_details = deal_details(deal_id) %>
  <form action='/deals/save_commission/<%=deal_id%>' method='post' name="commission_frm<%=deal_id%>" id="commission_frm<%=deal_id%>" onsubmit="return formCommissionValidator('<%=dd_details.length%>','<%=deal_id%>')">
    <table CELLPADDING="3" CELLSPACING="6"  style="border:1px solid black;font-size:14px;" BACKGROUND="/images/bg_white.jpg">
    <tr>
      <th>Minimum Customers</th>
      <th>Maximum Customers</th>
      <th>Discount(%)</th>
      <th>Commission(%)</th>
    </tr>     
     <% i = 1
     dd_details.each do |dl|
     %>
    <input type="hidden" name="id" value="<%= deal_id %>" />
     <tr>     
      <td align="center"><%=dl.customers%></td>
      <td align="center"><%=(dl.max_customers.blank?)? "Any" : dl.max_customers%></td>
      <td align="center"><%=dl.discount%></td>
      <td align="center"><input type='text' name='commission[<%=dl.id%>][]' id="commission<%=deal_id%><%=i%>" value='<%=dl.commission%>' size='10'/></td>
     </tr>
     <%
      i += 1
      end%>
     <tr><td colspan="4" align="center"><%=token_tag%><input type='submit' onclick=";" value='Set Commision'/></td></tr>
    </table>
    </form>
</div>