<%=render :partial=>'deal_details'%>       
<h1>Commission details</h1>
<table style="font-size: 14px; border-collapse: collapse; width:1000px; text-align: center; margin-left: -10px;" CELLPADDING="4" CELLSPACING="0">

    <tr>
      <th>Discount</th>
      <th>#Customers</th>
      <th>Saving</th>
      <th>Commission</th>
    </tr>
     <%deal_details(params[:id]).each do |dl|%>
     <tr>
      <td><%=dl.discount%></td>
      <td><%=dl.customers%></td>
      <td><%=dl.save_amount%></td>
      <td><%=dl.commission%></td>
     </tr>
      <%end%>
    </table>

      </div>
<br/>
<form action='/deals/activate/<%=params[:id]%>' id='form' method='post'>
<div><p><input type="checkbox" id="tos" name='tos'/><a href='#' onclick="document.getElementById('popup_center').style.display='block';">Agree to Terms and Conditions</a></p></div>
<p>Payment Terms: Which will be that www.keupons.com will pay the merchant 7 days after closing of the deals after deducting the commission payable as given above.</p>
<br/>
<p><a href='/sessions/policy'>FAQs/ Contact us</a></p>
<%=token_tag%>
<br/>
<input type='button' value='Activate the deal' onclick="validate_tos();"/>
</form>
<br/><br/>
<script>
function validate_tos(){
var tos=document.getElementById("tos").checked;
if (tos == true)
{
document.getElementById("form").submit();
}
else
{
alert("Please put a tick mark on Terms and conditions");
return false;
}

}
</script>
<script language="JavaScript">
  <% if !@deal.nil? %>
  StartCountDown("deal_time_left","<%= Time.at(@end_time.to_i).strftime('%m/%d/%Y %H:%M')%>" )
  <% end %>

  /*
  	Author:		Robert Hashemian (http://www.hashemian.com/)
  	Modified by:	Munsifali Rashid (http://www.munit.co.uk/)
  	Modified by:	Tilesh Khatri
  */

  function StartCountDown(myDiv,myTargetDate)
  {
    var dthen	= new Date(myTargetDate);
    var dnow	= new Date();
    ddiff		= new Date(dthen-dnow);
    gsecs		= Math.floor(ddiff.valueOf()/1000);
    CountBack(myDiv,gsecs);
  }

  function Calcage(secs, num1, num2)
  {
    s = ((Math.floor(secs/num1))%num2).toString();
    if (s.length < 2)
    {
      s = "0" + s;
    }
    return (s);
  }

  function CountBack(myDiv, secs)
  {
    var DisplayStr;
    var DisplayFormat = "%%D%%&nbsp;&nbsp;&nbsp;%%H%%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:#fff'>%%M%%</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;%%S%%";
    DisplayStr = DisplayFormat.replace(/%%D%%/g,	Calcage(secs,86400,100000));
    DisplayStr = DisplayStr.replace(/%%H%%/g,		Calcage(secs,3600,24));
    DisplayStr = DisplayStr.replace(/%%M%%/g,		Calcage(secs,60,60));
    DisplayStr = DisplayStr.replace(/%%S%%/g,		Calcage(secs,1,60));
    if(secs > 0)
    {
      document.getElementById(myDiv).innerHTML = DisplayStr;
      setTimeout("CountBack('" + myDiv + "'," + (secs-1) + ");", 990);
    }
    else
    {
      document.getElementById(myDiv).innerHTML = "Deal Closed";
    }
  }

</script>

