<div style="width:608px;height:400px;text-align:left;">
  <form action='/deals/save_commission/<%=deal_id%>' method='post'>
    <table CELLPADDING="3" CELLSPACING="6"  style="border:1px solid black;font-size:14px;" BACKGROUND="/images/bg_white.jpg">
     <tr>
              <td class="popup"><a href="#" onclick="document.getElementById('popup_create_deal_<%=deal_id%>').style.display='none';;" >X</a></td>
            </tr>
    <tr>
      <th>Minimum Customers</th>
      <th>Maximum Customers</th>
      <th>Discount</th>
      <th>Commission</th>
    </tr>     
     <%deal_details(deal_id).each do |dl|%>
     <tr>     
      <td align="center"><%=dl.customers%></td>
      <td align="center"><%=dl.max_customers%></td>
      <td align="center"><%=dl.discount%></td>
      <td align="center"><input type='text' name='commission[<%=dl.id%>][]' value='<%=dl.commission%>' size='10'/></td>
     </tr>
     <%end%>
     <tr><td colspan="4"><%=token_tag%><input type='submit' value='Set Commision'/></td></tr>
    </table>
    </form>
</div>

