<div style="width:608px;height:400px;text-align:left;">
  <form action='/deals/save_commission/<%=deal_id%>' method='post' name="commission_frm<%=deal_id%>" id="commission_frm<%=deal_id%>">
    <table CELLPADDING="3" CELLSPACING="6"  style="border:1px solid black;font-size:14px;" BACKGROUND="/images/bg_white.jpg">
     <tr>
              <td class="popup" colspan="4" align="right"><a href="#" onclick="document.getElementById('popup_create_deal_<%=deal_id%>').style.display='none';;" >X</a></td>
            </tr>
    <tr>
      <th>Minimum Customers</th>
      <th>Maximum Customers</th>
      <th>Discount(%)</th>
      <th>Commission(%)</th>
    </tr>     
     <% i = 1
     dd_details = deal_details(deal_id)
     dd_details.each do |dl|
     %>
    <input type="hidden" name="id" value="<%= deal_id %>" />
     <tr>     
      <td align="center"><%=dl.customers%></td>
      <td align="center"><%=(dl.max_customers.blank?)? "Any" : dl.max_customers%></td>
      <td align="center"><%=dl.discount%></td>
      <td align="center"><input type='text' name='commission[<%=dl.id%>][]' id="commission<%=deal_id%><%=i%>" value='<%=dl.commission%>' size='10'/></td>
     </tr>
     <%
      i += 1
      end%>
     <tr><td colspan="4" align="center"><%=token_tag%><input type='button' onclick="formCommissionValidator('<%=dd_details.length%>','<%=deal_id%>');" value='Set Commision'/></td></tr>
    </table>
    </form>
</div>