<%@deal=EmailDeal.new()%>
<div style="width:608px;height:400px;text-align:left;">
  <div><%= error_messages_for :deal %></div>
  <div><table CELLPADDING="3" CELLSPACING="6"  style="font-size:24px;margin-left:360px;background-color:black;" BACKGROUND="/images/bg_white.jpg"><tr><td>Get Deals</td><td></td><td></td></tr></table></div>
  <% form_for @deal, :url => { :controller=>'deals',:action => "get_deals_by_email" } , :html => { :multipart => true }  do |f| %>
    <table CELLPADDING="3" CELLSPACING="6"  style="border:1px solid black;font-size:14px;margin-left:250px;" BACKGROUND="/images/bg_white.jpg">
      <tr>
        <td> </td>
        <td style="color:#000000;">Email:</td>
        <td><%= f.text_field :email, :size=>"25%",:onBlur=>"validate_email();"  %> </td>
      </tr>
      <tr>
        <td> </td>
        <td style="color:#000000;">Category:</td>
        <td><%=select("email_deal", "deal_category_id", DealCategory.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None',:size=>"25%"})  %> </td>
      </tr>
      <tr>
        <td> </td>
        <td style="color:#000000;">Location:</td>
        <td><%= f.text_field :location, :size=>"25%",:onBlur=>"validate_loc();"  %> </td>
      </tr>
      <tr>
        <td> </td>        
        <td colspan="2">
          <br/><%=image_submit_tag ("register.jpg"), :onclick => "return form_validator();"%>

          <a href="#" onclick="hideElt('popup_create_deal');" style="padding-left: 30px;"><img alt="Cancel" src="/images/cancel.jpg" border="0" /></a>
        </td>
      </tr>
<% end %>
  </table>
</div>
<script>
function validate_email(){
var theForm = document.forms['new_email_deal'];
if (theForm.email_deal_email.value == "" || theForm.email_deal_email.value.length < 1)
{
alert("You must enter Email address.");
theForm.email_deal_email.focus();
return (false);
}
}
</script>
<script>
function validate_loc(){
var theForm = document.forms['new_email_deal'];
if (theForm.email_deal_location.value == "" || theForm.email_deal_location.value.length < 1)
{
alert("You must enter a valid location.");
theForm.email_deal_location.focus();
return (false);
}
}
</script>
