
<link href="/stylesheets/calendar/red/style.css" rel="stylesheet" type="text/css" />
<div id="buttons" style="padding-left: 60px;">
  Year: <select id="year" name="year">
        <% for year in @years
            if session[:year].to_s == year.to_s %>
        <option value="<%= year %>" selected><%= year %></option>
            <% else %>
        <option value="<%= year %>"><%= year %></option>
            <% end
           end %>
        </select>
	<%=observe_field "year",
			:url => {:controller => 'deals', :action => 'index'},
			:on => 'change',
			:with => "year"%>
  Month: <select id="month" name="month">
        <%
          @months.each_pair{|key,value|          
            if session[:month].to_i == value.to_i %>
        <option value="<%= value %>" selected><%= key %></option>
            <% else %>
        <option value="<%= value %>"><%= key %></option>
            <% end
           } %>
        </select>
	<%=observe_field "month",
			:url => {:controller => 'deals', :action => 'index'},
			:on => 'change',
			:with => "month"%>
</div>
<div id="calendar" align="center">
  <%= render :partial => "calendar_deals" %>
</div><br/>
