<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>www.keupons.com</title>
</head>

<body>

<table width="720" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td><img src="<%=$server_name%>/emails/images/top_red_bar.jpg" width="720" height="21"></td>
  </tr>
  <tr>
    <td background="<%=$server_name%>/emails/images/middle_red_bar.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="8"></td>
        <td height="8"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="20%" align="left"><img src="<%=$server_name%>/emails/images/logo.jpg" width="138" height="82"></td>
            <td width="54%"> <span style='font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; color:#FF0000;text-decoration:none;font-weight:bold;'>Hot Deals in&nbsp;Singapore</span>

               </td>
            <td style='font-family:Georgia,"Times New Roman",Times,serif;font-size:12px;color:#000000;text-decoration:none;' width="26%">
             <%=Time.now.strftime('%A %B %d,%Y')%></td>
          </tr>
        </tbody></table></td>
        <td height="8"></td>
      </tr>
      <tr>
        <td width="19" height="8"></td>
        <td width="94%" background="<%=$server_name%>/emails/images/top_black_bar.jpg" height="8"></td>
        <td width="19" height="8"></td>
      </tr>
 <tr>
        <td>&nbsp;</td>
        <td background="<%=$server_name%>/emails/images/banner.jpg" height="159"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="4%">&nbsp;</td>
            <td style='font-family:Georgia,"Times New Roman",Times, serif;font-size:30px;color:#FFFFFF;text-decoration:none;' width="53%" align="left">Keupons, the only site where you are guaranteed a discount!</td>
            <td width="43%">&nbsp;</td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td background="<%=$server_name%>/emails/images/bottom_black_bar.jpg" height="35"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td style='font-family:Georgia,"Times New Roman",Times,serif;font-size:18px;padding-left:5px;color:#FFFFFF;text-decoration:none;' width="100%" align="left"><%=@subject%></td>

          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>

