<%=render :partial=>'top'%> 
    <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="6">
          <tbody> 
          <tr>
            <td colspan="2" bgcolor="#eceded"><span style='font-family:Georgia,"Times New Roman",Times,serif;font-size:12px;color:#000000;text-decoration:none;'>Dear <strong><%= @profile.first_name.camelize %>,</strong><br>

                   You have Redeemed the following Deal<br/><br/>
                   <%= @deal.name %><br/><br/>
                   Your redemption details are as follows:<br/>
                   Quantity: <%= @redemption.redeemed_quantity %><br/>
                   Time: <%= Time.at(@redemption.redeemed_time.to_i).strftime("%d-%m-%Y %H:%M %p") %>
 <br><br>Thank You,<br>Keupons.com</span></td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
     
<%=render :partial=>'bottom'%> 
