<p>
  Hi <br/>

  Merchant Details,<br/><br/>

  Name : <%=@merchant_profile.first_name%><br/>
  Email : <%=@merchant_profile.email_address%><br/>
  Contact Number : <%=@merchant_profile.contact_number%><br/>
  Company Name: <%=@merchant_company.name %><br/>
  Compant URl: <%=@merchant_company.website%><br/>
  Compant Address: <%=@merchant_company.address1%>,<br/>
                   <%=@merchant_company.address2%>,<br/>
                   <%=@merchant_company.city%>,<br/>
                   <%=@merchant_company.state%>,<br/>
                   <%=@merchant_company.zipcode%>.<br/>

</p>

