<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>www.keupons.com</title>
<link href="<%=$server_name%>/emails/css/emailer.css" rel="stylesheet" type="text/css" />
<style type="text/css">
.emailer_header{

	

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:30px;

	

	color:#FFFFFF;

	text-decoration:none;



}

.emailer_header1{

	

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:20px;

	

	color:#FFFFFF;

	text-decoration:none;



}

.emailer_header2{

	

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	padding-left:5px;

	color:#FFFFFF;

	text-decoration:none;



}

.emailer_content{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:12px;

	color:#000000;

	text-decoration:none;



}

.emailer_content1{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:12px;

	color:#000000;

	text-decoration:none;

	font-weight:bold;



}

.emailer_content_red{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:14px;

	

	color:#FF0000;

	text-decoration:none;

	font-weight:bold;



}

.emailer_content_red1{

	

	font-family:Georgia, "Times New Roman", Times, serif;

	

	font-size:12px;

	

	color:#FF0000;

	text-decoration:none;

	



}

.red_link{

	

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:14px;

	

	color:#ffb3b3;

	text-decoration:underline;



}

.red_link:hover{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:14px;

	color:#ffb3b3;

	text-decoration:none;



}





.time_text_red{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:14px;

	color:#ff4b4c;

	text-decoration:none;



}

.time_text_white{

	font-family:Arial, Helvetica, sans-serif;

	font-size:14px;

	color:#ffffff;

	text-decoration:none;



}

.price_text_red{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:18px;

	

	color:#FF0000;

	text-decoration:none;

	font-weight:bold;



}

.price_text_white{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:16px;

	

	color:#ffffff;

	text-decoration:none;

	font-weight:bold;



}

.price_text_white1{

	font-family:Georgia, "Times New Roman", Times, serif;

	font-size:12px;

	

	color:#ffffff;

	text-decoration:none;

	font-weight:bold;



}


<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style></head>

<body>

<table width="720" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td><img src="<%=$server_name%>/emails/images/top_red_bar.jpg" width="720" height="21"></td>
  </tr>
  <tr>
    <td background="<%=$server_name%>/emails/images/middle_red_bar.jpg"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td height="8"></td>
        <td height="8"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="20%" align="left"><img src="<%=$server_name%>/emails/images/logo.jpg" width="138" height="82"></td>
            <td width="54%"> <span class="emailer_content_red">Hot Deals in&nbsp;Singapore</span> 
               
               </td>
            <td class="emailer_content" width="26%"><%=Time.now.strftime('%A %B %d,%Y')%></td>
          </tr>
        </tbody></table></td>
        <td height="8"></td>
      </tr>
      <tr>
        <td width="19" height="8"></td>
        <td width="94%" background="<%=$server_name%>/emails/images/top_black_bar.jpg" height="8"></td>
        <td width="19" height="8"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td background="<%=$server_name%>/emails/images/banner.jpg" height="159"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td width="4%">&nbsp;</td>
            <td class="emailer_header" width="53%" align="left">Keupons, the only site where you are guaranteed a discount!</td>
            <td width="43%">&nbsp;</td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td background="<%=$server_name%>/emails/images/bottom_black_bar.jpg" height="35"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td class="emailer_header2" width="100%" align="left"><%=@subject%></td>
             
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><table width="100%" border="0" cellpadding="0" cellspacing="6">
          <tbody> 
          <tr>
            <td colspan="2" bgcolor="#eceded"><span class="emailer_content">Hi, <br>
 I went to www.keupons.com, it's a pretty cool site, where I got some amazing deals. Signup here" - something to this effect.
                    <br/>
                   Kindly click on the following link to Sign In :<br/><%=h "#{$server_name}/signup/#{@id}" %>
 <br><br>Thank You,<br>Keupons.com</span></td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
      
       
      <tr>
        <td>&nbsp;</td>
        <td background="<%=$server_name%>/emails/images/bottom_black_bar.jpg" height="49"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td class="emailer_header1" width="49%" align="right">Want to see all the deals?</td>
            <td width="3%">&nbsp;</td>
            <td width="48%" align="left"><a href="<%=$server_name%>"><img src="<%=$server_name%>/emails/images/viewdeals_btn.jpg" width="114" border="0" height="29"></a></td>
          </tr>
        </tbody></table></td>
        <td>&nbsp;</td>
      </tr>
    </tbody></table></td>
  </tr>
  <tr>
    <td><img src="<%=$server_name%>/emails/images/bottom_red_bar.jpg" width="720" height="21"></td>
  </tr>
</tbody></table>


</body>
</html>
