<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>:::homepage:::</title>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" width="601px" align="center" style="color:#fff;">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="177px" align="center" background="http://dev.keupons.com/images/mailer_header.png">
                        <tr>
                            <td style="vertical-align:top;">
                                <img src="http://dev.keupons.com/images/ke_logo.png" hspace="56"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="auto" align="center" bgcolor="#414042">
                        <tr>
                            <td style="padding: 30px 0 0 40px;">
                                <span style="font-size: 14px;font-weight: bold;color: #FFF;">
									<%= @customer_profile.first_name %> <%= @customer_profile.last_name %> recommends that you get this Keupon
								</span>
                                <br/>
                                <br/>
                                <span style="font-weight:normal; font-size:12px;">
                                    <br/>
                                    <br/>
                                    Hi, I think you will like this deal.
                                    <br/>
                                    <br/>
                                    <br/>
                                    <br/>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="552px" height="236px" align="center" background="http://dev.keupons.com/images/std_mainbox.png" background-repeat="no-repeat">
                                    <tr>
                                        <td width="50%" style="padding:0 0 0 15px;">
                                            <img src="http://dev.keupons.com<%=@deal.deal_photo.url(:deal_mailer)%>" />
                                        </td>
                                        <td width="50%" style="padding:0;vertical-align:top;">
                                            <table cellspacing="10" cellpadding="0">
                                                <tr>
                                                    <td>
                                                        <span style="font-size:14px; font-weight:bold;"><%= truncate(@deal.name, 80, "...") %></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span style="font-size:11px;"><%= truncate(@deal.description, 160, "...") %></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td align="center" height="90px" width="91px" background="http://dev.keupons.com/images/mailer_round.png" background-repeat="no-repeat">
                                                                    <span style="text-align:center;font-size:14px;font-weight:bold;">
                                                                    Only
                                                                    <br/>
                                                                    <span style="font-size:16px;">$<%=@deal.deal_discounts[0].buy_value.round %></span>
                                                                    <br/>
                                                                    or less
                                                                </span>
                                                                </td>
                                                                <td>
                                                                    <a href="http://dev.keupons.com/deal_details?id=<%=@deal.id%>" target="_blank"><img src="<%=$server_name%>/images/mailer_readmore.png" border="0" /></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <br/>
                                <br/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="133px" align="center" background="http://dev.keupons.com/images/mailer_footer.png">
                        <tr>
                            <td style="vertical-align:top;padding:15px 0 0 27px;">
                                <span style="font-weight:bold; font-size:13px;">Have a question? <a href="mailto:support@keupons.com" style="color:#fff;">support@keupons.com</a></span>
                                <br/>
                                <br/>
                                <span style="font-size:10px;"><a href="#" style="color:#fff;">Click Here</a> if you can't view the images above
                                    <br/>
                                    Add <a href="#" style="color:#fff;">support@keupons.com</a> to your address book
                                    <br/>
                                    <a href="#" style="color:#fff;">Unsubscribe</a> | <a href="#" style="color:#fff;">Refer a friend</a>
                                    <br/>
                                    Copyright &copy; 2010 <a href="#" style="color:#fff;">www.keupons.com</a> All Rights Reserved
                                </span>
                            </td>
                            <td style="vertical-align: top;padding:0 20px 0 0" align="right">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <img src="http://dev.keupons.com/images/mailer_keuponsmall.png" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:bottom;">
                                            <a href="http://twitter.com/keupons_sg" target="_blank" style="color:#fff;"><img src="http://dev.keupons.com/images/t_small.png" border="0" /></a><a href="http://www.facebook.com/keupons" target="_blank" style="color:#fff;"><img src="http://dev.keupons.com/images/f_small.png" border="0" hspace="5" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>