                      <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>www.keupons.com</title>
</head>
<body>
<div id="wraper">
<div id="user1" style="width:650px;height:auto;">
  <div style="margin-left:5px;text-align:center;border:4px solid red; width:650px; height:380px;">
    <div>
      <table style="text-align:center;" width="650" height="50">
         <tr><td><a href="<%=$server_name%>" style="text-decoration:none;font-size:20px;font-weight:bold;text-align:center;">Keupons.com</a> </td></tr>
      </table>
    </div>
    <hr style="background-color:grey;"/>
    <div style="width:650px;height:250px;">
          <div style="margin-left: 20px;width:350px;background:pink;height:auto;float:left;">
               <font style="font-size:25px;font-weight:bold;">Welcome to Keupons!</font><br/> <br/>
               <p style="margin-left: 15px; margin-right:15px;text-align:justify;font-size:14px;">
                   Dear <%= @profile.first_name.camelize %>,<br/>
                   You are now our customer and your login credentials are as follows.<br/>
                   Username: <%=h @customer.login %><br/>
                   Password: <%=h @customer.password %><br/><br/>
                   Kindly click on the following link to activate your account:<br/><%=h "#{$server_name}#{@url}" %>
               </p>
          </div>
          <div style="width:250px;float:right;text-align:center;margin-right:15px;">
             <table style="width:250px;color:blue;font-size:12px;font-weight:bold;text-align:center;" cellpadding="0" cellspacing="0">
                 <tr><td><a href="<%=$server_name%>/deal_of_the_day" style="font-size:14px;font-weight:bold;text-decoration:none;">Check Out Today's Hot Deal</a></td></tr>
                 <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
                 <tr><td><a href="<%=$server_name%>/recent_deals" style="font-size:14px;font-weight:bold;text-decoration:none;">Check Out Our Recent Deals</a></td></tr>
                  <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
                 <tr><td><a href="<%=$server_name%>" style="font-size:14px;font-weight:bold;text-decoration:none;">Check Out How We Work</a></td></tr>
                  <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
                 <tr><td><a href="<%=$server_name%>/want_a_deal" style="font-size:14px;font-weight:bold;text-decoration:none;">Demand The Deal That You Want</a></td></tr>
                   <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
                 <tr><td><a href="<%=$server_name%>/customers/location_deals" style="font-size:14px;font-weight:bold;text-decoration:none;">Check Out Our Deal Around You</a></td></tr>
                  <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
                 <tr><td><a href="<%=$server_name%>/my_keupons" style="font-size:14px;font-weight:bold;text-decoration:none;">Deal For Your Keupoints</a></td></tr>
                 <tr><td><hr style="border: 0;color: red;height: 1px;width: 98%;"/></td></tr>
             </table>
          </div>
      </div>
      <div style="width:550px;height:10px;font-size:14px;margin-left:15px;margin-right:15px;">
          <p style="text-align:center;">Explore all the cool things to do in your city at unbeatable prices.</p>
      </div>
    </div>
 </div>
</div>
</body>
</html>
