<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>:::homepage:::</title>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" width="601px" align="center" style="color:#fff;">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="177px" align="center" background="http://dev.keupons.com/images/mailer_header.png">
                        <tr>
                            <td style="vertical-align:top;">
                                <img src="http://dev.keupons.com/images/ke_logo.png" hspace="56"/>
                            </td>
                        </tr>
                    </table>
				</td>
            </tr>
			<tr>
                <td>
					<table cellspacing="0" cellpadding="0" width="601px" height="auto" align="center" bgcolor="#414042">
                        <tr>
                            <td style="padding: 30px 0 0 40px;">
                    			<span style="font-size: 14px;font-weight: bold;color: #FFF;">
									Dear <%= @profile.first_name %> <%= @profile.last_name %>
								</span>
                            	<br/><br/>
                           		<span style="font-weight:normal; font-size:12px;">
									You have signed up for Keupons with the following details:
	                                <br/>
	                                Email address: <%= @customer.login %>
	                                <br/>
	                                Password: <%= @password %>
                            	</span>
	                            <br/>
	                            <br/>
	                            <span style="font-weight:normal; font-size:12px;">
									Activate your account now for access to great deals in Singapore!
	                                <br/>
	                                URL: <a href="http://dev.keupons.com/activate/<%=@customer.activation_code%>" target="_blank" style="color:#fff;">http://dev.keupons.com/activate/<%=@customer.activation_code %></a>
	                            </span>
	                            <br/>
	                            <br/>
	                            <span style="font-weight:normal; font-size:12px;">Thank you for joining Keupons!</span>
								<br/><br/><br/>
							</td>
            			</tr>
						<tr>
                            <td>
		                        <table cellspacing="0" cellpadding="0" width="519px" height="117px" align="center" background="http://dev.keupons.com/images/invitefr_bg.png" background-repeat="no-repeat">
		                            <tr>
		                                <td>
		                                    <a href="http://dev.keupons.com"><img src="http://dev.keupons.com/images/if_small.png" align="right" border="0" vspace="45" hspace="105" /></a>
		                                </td>
		                            </tr>
		                        </table>
								<br/><br/><br/>
                        	</td>
            			</tr>
					</table>
                </td>
            </tr>
			<tr>
                <td>
					<table cellspacing="0" cellpadding="0" width="601px" height="133px" align="center"  background="http://dev.keupons.com/images/mailer_footer.png">
                        <tr>
                            <td style="vertical-align:top;padding:15px 0 0 27px;">
                                <span style="font-weight:bold; font-size:13px;">
									Have a question? <a href="mailto:support@keupons.com" style="color:#fff;">support@keupons.com</a>
								</span>
                                <br/>
                                <br/>
                                <span style="font-size:10px;">
									<a href="#" style="color:#fff;">Click Here</a> if you can't view the images above
                                	<br/>
                                    Add <a href="#" style="color:#fff;">support@keupons.com</a> to your address book
                                    <br/>
                                    <a href="#" style="color:#fff;">Unsubscribe</a> | <a href="#" style="color:#fff;">Refer a friend</a>
                                    <br/>
                                    Copyright &copy; 2010 <a href="#" style="color:#fff;">www.keupons.com</a> All Rights Reserved
                                </span>
							</td>
							<td style="vertical-align: top;padding:0 20px 0 0" align="right">
								<table cellspacing="0" cellpadding="0">
                        			<tr>
                            			<td style="vertical-align:top;">
                                			<img src="http://dev.keupons.com/images/mailer_keuponsmall.png" />
										</td>
									</tr>
									<tr>
                            			<td style="vertical-align:bottom;">
			                                <a href="http://twitter.com/keupons_sg" target="_blank" style="color:#fff;"><img src="http://dev.keupons.com/images/t_small.png" border="0" /></a>
											<a href="http://www.facebook.com/keupons" target="_blank" style="color:#fff;"><img src="http://dev.keupons.com/images/f_small.png" border="0" hspace="5" /></a>
										</td>
									</tr>
								</table>	
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>