<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>:::homepage:::</title>
    </head>
    <body>
        <table cellspacing="0" cellpadding="0" width="601px" align="center" style="color:#fff;">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="177px" align="center" background="http://www.keupons.com/images/mailer_header.png">
                        <tr>
                            <td style="vertical-align:top;">
                                <img src="http://www.keupons.com/images/ke_logo.png" hspace="56"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="auto" align="center" bgcolor="#414042">
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <%for opdd in @deal_discounts
                        discount = opdd[1]
                        open_deal = @deals[opdd[0]]
                        opd = Deal.find(open_deal.id) %>
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" width="552px" height="236px" align="center" background="http://www.keupons.com/images/std_mainbox.png" background-repeat="no-repeat">
                                    <tr>
                                        <td width="50%" style="padding:0 0 0 15px;">
                                            <img src="http://www.keupons.com<%=opd.deal_photo.url(:deal_mailer)%>" />
                                        </td>
                                        <td width="50%" style="padding:0;vertical-align:top;">
                                            <table cellspacing="8" cellpadding="0">
                                                <tr>
                                                    <td height="55px">
                                                        <span style="font-size:14px; font-weight:bold;"><%= truncate(opd.name, 80, "...") %></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="55px">
                                                        <span style="font-size:11px;"><%= truncate(opd.description, 160, "...") %></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="90px">
                                                        <table cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td align="center" height="90px" width="91px" background="http://www.keupons.com/images/mailer_round.png" background-repeat="no-repeat">
                                                                    <span style="text-align:center;font-size:14px;font-weight:bold;">Only
                                                                        <br/>
                                                                        <span style="font-size:16px;">$<%=opd.deal_discounts[0].buy_value.round %></span>
                                                                        <br/>
                                                                        or less
                                                                    </span>
                                                                </td>
                                                                <td>
                                                                    <a href="http://www.keupons.com/deal_details?id=<%=opd.id%>" target="_blank"><img src="http://www.keupons.com/images/mailer_readmore.png" border="0" /></a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br/>
                                <br/>
                                <br/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <% end %>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="601px" height="133px" align="center" background="http://www.keupons.com/images/mailer_footer.png">
                        <tr>
                            <td style="vertical-align:top;padding:15px 0 0 27px;">
                                <span style="font-weight:bold; font-size:13px;">Have a question? <a href="mailto:support@keupons.com" style="color:#fff;">support@keupons.com</a></span>
                                <br/>
                                <br/>
                                <span style="font-size:10px;">
									<!--<a href="javascript:void(0);" style="color:#fff;">Click Here</a> if you can't view the images above
                                	<br/>
                                    Add <a href="javascript:void(0);" style="color:#fff;">support@keupons.com</a> to your address book
                                    <br/>
                                    <a href="javascript:void(0);" style="color:#fff;">Unsubscribe</a> | <a href="javascript:void(0);" style="color:#fff;">Refer a friend</a>
                                    <br/>-->
									<br/><br/><br/>
                                    Copyright &copy; 2010 <a href="#" style="color:#fff;">www.keupons.com</a> All Rights Reserved
                                </span>
                            </td>
                            <td style="vertical-align: top;padding:0 20px 0 0" align="right">
                                <table cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td style="vertical-align:top;">
                                            <img src="http://www.keupons.com/images/mailer_keuponsmall.png" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="vertical-align:bottom;">
                                            <a href="http://twitter.com/keupons_sg" target="_blank" style="color:#fff;"><img src="http://www.keupons.com/images/t_small.png" border="0" /></a><a href="http://www.facebook.com/keupons" target="_blank" style="color:#fff;"><img src="http://www.keupons.com/images/f_small.png" border="0" hspace="5" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
