<div class="first_box">
    <div class="footer_txt">
        COMPANY
    </div>
    <div class="footer_txtsmall">
        <ul>
            <li>
            	<%= link_to "About Keupons.com", :controller => "footer", :action => "about" %>
            </li>
            <li>
                <%= link_to "Contact Us", :controller => "footer", :action => "contact" %>
            </li>
            <li>
                <%= link_to "Jobs", :controller => "footer", :action => "jobs" %>
            </li>
            <li>
            	<%= link_to "Terms & Conditions", :controller => "footer", :action => "legal" %>
            </li>
        </ul>
    </div>
</div>
<div class="first_box" style="margin-left:140px;">
    <div class="footer_txt">
        MORE
    </div>
    <div class="footer_txtsmall">
        <ul>
            <li>
            	<%= link_to "Press", :controller => "footer", :action => "press" %>
            </li>
            <li>
            	<%= link_to "Customer faqs", :controller => "footer", :action => "customer_faq" %>
            </li>
            <li>
                <a javascript:void(0);>Merchant faqs</a>
            </li>
            <li>
                <a javascript:void(0);>Privacy policy</a>
            </li>
        </ul>
    </div>
</div>
<div class="first_box" style="margin-left:180px;">
    <div class="footer_txt">
        QUICK LINKS
    </div>
    <div class="footer_txtsmall">
        <ul>
            <li>
                <a javascript:void(0);>How Keupons works</a>
            </li>
            <li>
                <a javascript:void(0);>Invite friends</a>
            </li>
        </ul>
    </div>
</div>
<div class="first_box" style="margin-left:160px;">
    <div class="footer_txt">
        FIND US ON
    </div>
    <div style="padding-top:20px;">
        <a href="http://twitter.com/keupons_sg" target="_blank"><img src="/images/twitter.png" border="0" /></a>
		<a href="http://www.facebook.com/keupons" target="_blank"><img src="/images/fb.png" hspace="5" border="0" /></a>
    </div>
</div>