<div class="head_left">
    <div class="logo_padd">
        <a href="/"><img src="/images/ke_logo.png" /></a>
    </div>
    <div class="grey_buttons">
    	<% if logged_in? %>
			<div class="header_newtab">
	        	<div class="head_left_img">
	        		<% @customer = Customer.find(current_customer.id)
    				@customer_profile = @customer.customer_profile %>
					<%= @customer_profile.nil? ? image_tag("/images/user1.jpg", :alt => "no profile image") : (image_tag @customer.customer_photo.url(:smallest)) %>
				</div>
	            <div class="head_left_nametxt"><%= @customer_profile.first_name %> <%= @customer_profile.last_name %></div>
	            <div class="head_left_txt"><a href="/my_profile">My Profile</a> | <a href="/my_keupons">My Keupons</a> | <a href="/logout">Log out</a></div>
        	</div>
		<% else %>
			<div style="float:left;">
		        <%= link_to_remote_redbox image_tag('/images/login.png'), :url => {:controller => "sessions", :action => "new"}, :html_options => {:style => "padding:0 10px 0 0;float:left;"} %>
				<%= link_to_remote_redbox image_tag('/images/sign_up.png'), :url => {:controller => "customers", :action => "new"}, :style => "float:left;" %>
			</div>
		<% end%>
		<div style="float:right;" class="invite_link">
			<%= link_to_remote_redbox image_tag('/images/if.png'), :url => {:controller => "customers", :action => "earn_money"} %>
		</div>
    </div>
</div>
<div class="legs">
    <img src="/images/legs.png"/>
</div>
<div class="head_right">
    <div class="head_rightin">
        <div>
        	<%= link_to_remote_redbox image_tag('/images/paypal_pur.jpg'), :url => {:controller => "customers", :action => "gaurantee_page"} %>
			<%= link_to_remote_redbox image_tag('/images/paypal.png', :vspace => "15", :hspace => "5"), :url => {:controller => "customers", :action => "gaurantee_page"} %>
			<%= link_to_remote_redbox image_tag('/images/bestdeal.png', :hspace => "3"), :url => {:controller => "customers", :action => "gaurantee_page"} %>
			<%= link_to_remote_redbox image_tag('/images/moneyback.png', :width => "83", :height => "61"), :url => {:controller => "customers", :action => "gaurantee_page"} %>
        </div>
        <div style="float:right;">
            <img src="/images/safe1.png"/><img src="/images/100monyback.png" hspace="12" /><img src="/images/best_deal.png"/>
        </div>
    </div>
</div>
<div class="go">
    <div class="deal_img">
        <img src="images/receivedeals.png" hspace="4" />
    </div>
    <div class="head_box">
        <input name="tb1" type="text" class="head_box1" value="ENTER EMAIL ADDRESS" />
    </div>
    <div class="go_img">
        <img src="/images/go.png" hspace="4" />
    </div>
</div>